
<!DOCTYPE HTML>
<html lang="en">
    
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords">
<meta name="description" content="flight status description">
<link href="../../../etc/designs/delta/favicon.ico" type="image/vnd.microsoft.icon" rel="shortcut icon"/>
<link rel="icon" type="image/vnd.microsoft.icon" href="../../../etc/designs/delta/favicon.ico"/>
<title></title>




 <!--<base href="/content/www/en_US/">-->


















    



 
 <style>.loader {
      background: #FFF;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 9;
    }
    
    .loader img {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -9px;
      margin-top: -9px;
    }
  </style> 	

   
  <link rel="stylesheet" href="../../../etc/designs/delta-web/clientlibs-app.774.css">
  
 
<!-- Including canonical tag functionality for Fresh Template page start -->

	<link rel="canonical" href="index.html"/>



<!-- Including canonical tag functionality for Fresh Template page end -->

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css"/>


     
    
	        <script id='_myDeltaDropdownTemplate_tmpl' type='text/ractive'>
	{{#if isLoggedIn}}
	<div class="OneLinkNoTx">
	<a id="custlogin-user-link" class="custlogin-user" aria-haspopup="true" aria-expanded="false" aria-label="View My Delta Dashboard for {{firstName}} {{lastName}}" href="/mydelta/dashboard">{{firstName}} {{lastName}}</a>
	</div>
	<div id="customer_dropdown" aria-hidden="true" >
	<img alt="" class="customer_dropdown-supergraphic" src="//content.delta.com/content/dam/delta-applications/custlogin/super-graphic.png">
	<a class="custlogin-user" aria-haspopup="true" href="/acctactvty/myskymiles.action">
	<div class="customer_dropdown-status {{#if is360Tier}}threesixtymember-dashboard{{/if}} {{#if millionMiler}}millionmiler-dashboard{{/if}}">
	<div class="medallion-mem-info">{{{medallionInformation}}}</div>
	{{#if is360Tier}}
	<div class="three-sixty-tier">Delta 360<sup>&trade;</sup></div>
	{{/if}}
	{{#if millionMiler}}
	<div id="millionMilerImage" class="mm{{millionMilerTier}}"></div> 
	{{/if}}
	</div>
	{{#if isSkymilesMember}}
	<div class="customer_dropdown-skymilesnumber">
	<span class="label">SkyMiles #</span>
	<span class="value">{{skymilesNo}}</span>
	</div>
	{{/if}}
	</a>
	<a class="custlogin-user" aria-haspopup="true" href="/acctactvty/manageacctactvty.action">
	<div class="customer_dropdown-skymilestotal">
	<span class="label">
	Total Available Miles<br /><span class="availableMilesLegal">Miles never expire</span>
	</span>
	<span class="value">{{balanceMiles}}</span>
	</div>
	<div class="clear">&nbsp;</div>
	</a>
	<div class="customer_dropdown-mydelta">
	<h4>My Delta</h4>
	<ul>
	<li><a href="/acctactvty/myskymiles.action">SkyMiles</a></li>
	<li><a href="/mytrips/findPnrList.action">Trips</a></li>
	<li><a href="/mydelta/wallet">Wallet</a></li>
	<li><a href="/profile/index.action">Profile</a></li>
	{{#if loyaltyPromoInd}}
	<li><a class="user_pormolink" href="{{loyaltyPromoLink}}">Promotions</a></li>
	{{/if}}
	</ul>
	<a class="logout" href="/custlogin/logout.action">Log Out</a>
	</div>
	</div>
	{{else}}
	<a href="/profile/enrolllanding.action" class="custlogin-signup">Sign Up</a>
	<form name="loginForm" id="loginForm" method="post" autocomplete="off" action="/custlogin/loginPage.action">
	<input type="hidden" value="" name="refreshURL" id="refreshURL" />
	<button id="submitbutton" class="ui-button-primary ui-state-default ui-corner-all ui-button-text-only" value=">" type="submit" role="button">Log In</button>
	</form>
	{{/if}}
	</script><script type="text/javascript" src="../../../ruxitagentjs_2fhjqr_10119170522100716.js" data-dtconfig="rid=RID_-641824670|rpid=251757336|domain=delta.com|reportUrl=https://dlt-beacon.dynatrace-managed.com/bf/dbbe1fe6-c1b9-4ef5-9063-f51ccbac76c8|cors=1|featureHash=2fhjqr|md=1=a#custlogin-user-link|lastModification=1522911194004|dtVersion=10119170522100716|tp=500,50,0,1"></script><script type="text/javascript" src="../../../ruxitagentjs_2fhjqr_10119170522100716.js" data-dtconfig="rid=RID_-641824670|rpid=1138622642|cors=1|featureHash=2fhjqr|md=1=a#custlogin-user-link|lastModification=1522911194004|dtVersion=10119170522100716|tp=500,50,0,1|reportUrl=https://dlt-beacon.dynatrace-managed.com/bf/dbbe1fe6-c1b9-4ef5-9063-f51ccbac76c8|domain=delta.com"></script>

	 
	       
     
	        <script type="text/javascript" src="https://nexus.ensighten.com/delta/mtprod/Bootstrap.js"></script>



<script type="text/javascript">
        var isAuthor = true;
        if (imgPath == null) {
            var imgPath = "";
        }
         
         
</script>

  </head>

    
<body>
    
 
<div id="deltaClientHeaderCookieInfo"></div>
<!--skip to main content section-->
   <div id="skip-content-container" tabindex="-1">
    <div id="skip-content" class="aria-offscreen hidden-sm hidden-xs">
        <a class="wrapper" id="skip-main-content" href="index.html#maincontent">Skip to main content</a>
    </div>



            <!--header start-->
    <div id="header" class="container-fluid">
        <script type="text/javascript">
            var delta = window.delta || {};
            delta.fssp = 4;
            delta.fstsp = 4;
            delta.environment = '';
            var hasAlertMessage = true;
            if(hasAlertMessage)
            {
                var countryAlertJSON  = {"alertMessage":"By continuing to browse, you consent to our use of cookies. To know more, please refer to our<a  href='/content/www/en_US/privacy-and-security.html'> Cookie and Privacy Policies</a>.","countryList":"['us', 'de', 'fr', 'ao']"};
                try
                {
                    var cookiePolicyJSONObject = eval(countryAlertJSON);

                }catch(error){}
            }
        </script>
                
        <div class="container">
            <div class="row">
                 
                 <div class="col-xs-12 brand col-sm-5 text-xs-left">
                   <div class="logocontainer">
                    <a href="../../../index.html" class="delta">
                        <img src="https://content.delta.com/content/dam/delta-applications/header/clear.gif" alt="Delta Air Lines Logo">
                    </a>
                    <a href="https://www.skyteam.com" data-extlink="ext12" class="skyteam" target="_blank">
                        <img src="https://content.delta.com/content/dam/delta-applications/header/clear.gif" alt="Skyteam Logo">
                        <span class="aria-offscreen"> opens in a new window</span>
                    </a>
                    </div>
                </div>
               
            
                 <div class="col-sm-7 hidden-xs text-right tertiary-links">
                    <ul>
                        <li>
                             <a id="country-language-selection" href="javascript:DeltaUtils.showDialogBox('//www.delta.com/utils/shared/dialogs/CountryLanguage.jsp?selector=change-setting',700,930,'','','','fixed-dialog','ui-modal-dialog');">
                               <span class="aria-offscreen">Your current selection is: </span>
                               <span id="country-lang-selection" class="aria-offscreen">United States</span>
                               <span id="country-language-text">English</span>
                               <span class="aria-offscreen">Activate to change </span>
                            </a>     
                        </li>
                        <li><a href="support.html">Need Help?</a></li>
                        <li><a href="../../../contactus/commentComplaint.html">Comment/Complaint?</a></li>
                    </ul>
                </div>
            </div>

            <div class="row hidden-xs  top-row">
               <div class="col-sm-10 col-sm-offset-2 text-right secondary-links">
                    <nav id="utility-nav" class="clr" aria-label="Header Menu Navigation">
						<div id="dropDownMenubar" role="menubar">
                        <span id="headerNavigationInstruction" class="aria-offscreen">Activate form mode and then use up or down arrow keys to navigate through the submenus</span>
							<ul role="menu" aria-controls="maincontent" class="secondary clr dropdownNav">
								<li role="menuitem" tabindex="0" aria-haspopup="true" class="menu-item has-dropdown shop">
									<div class="menuLinkContainer">
										<a href="../../../merch/shopMerchandisingAction.action.html" aria-expanded="false" tabindex="-1">Shop</a>
									</div>
									<div class="dropdown wide liCols">
										<ul class="subLinks" aria-label="Submenu">
											<li role="menuitem" aria-controls="maincontent">
												<a href="../../../flight-search/book-a-flight.html">Flights
												<small></small></a>
											</li>
											
											
											
										
											<li role="menuitem" aria-controls="maincontent">
												<a href="../../../merch/searchHotelAction.action.html">Hotels
												<small></small></a>
											</li>
											
											
											
										
											<li role="menuitem" aria-controls="maincontent">
												<a href="../../../merch/searchCarAction.action.html">Cars
												<small></small></a>
											</li>
											
											
											
										
											<li role="menuitem" aria-controls="maincontent">
												<a href="shop/deals-and-offers.html">Deals &amp; Offers
												<small></small></a>
											</li>
											
											
											
										
											<li role="menuitem" aria-controls="maincontent">
												<a href="../../../egift/eGiftPurchase.action-icid=PROD_eGift_Launch.html">Gift Cards
												<small></small></a>
											</li>
											
											
											
										
											<li role="menuitem" aria-controls="maincontent">
												<a href="shop/delta-vacations.html">Delta Vacations
												<small></small></a>
											</li>
											
											
											
										
											
											
											<li role="menuitem" aria-controls="maincontent" class="shopLi">
												<a href="../../../merch/searchTravelExtraAction.action.html">Travel Extras</a>
											</li>
											
										
											
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="../../../flight-search/book-a-flight-AwardTravel=true.html">Book Award Travel</a>
											</li>
											
										
											
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="../../../edoc/redeemDocuments.action.html">Certificates &amp; eCredits</a>
											</li>
											
										
											
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/shop/skymiles-cruises.html">SkyMiles Cruises</a>
											</li>
											
										
											
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="../../../merch/searchTripInsuranceAction.action.html">Trip Protection</a>
											</li>
											
										
											
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="shop/news-special-offers.html">News &amp; Special Offers</a>
											</li>
											
										
											
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="traveling-with-us/onboard-services/delta-studio/in-flight-wi-fi.html">In-Flight Wi-Fi</a>
											</li>
											
										</ul>
										
									</div>
								</li>
								<li role="menuitem" aria-haspopup="true" tabindex="0" class="menu-item has-dropdown traveling">
									<div class="menuLinkContainer">
										<a href="traveling-with-us.html" aria-expanded="false" tabindex="-1">Traveling With Us</a>
									</div>	
									 <div class="dropdown wide liCols" style="display: none;">
										<ul class="subLinks" aria-label="Submenu">
											<li role="menuitem" aria-controls="maincontent">
												<a href="traveling-with-us/where-we-fly.html">Where We Fly
												<small></small></a>
											</li>
											
											
											
										
											<li role="menuitem" aria-controls="maincontent">
												<a href="traveling-with-us/planning-a-trip.html">Planning a Trip
												<small></small></a>
											</li>
											
											
											
										
											<li role="menuitem" aria-controls="maincontent">
												<a href="traveling-with-us/baggage.html">Baggage
												<small></small></a>
											</li>
											
											
											
										
											<li role="menuitem" aria-controls="maincontent">
												<a href="traveling-with-us/check-in.html">My Trips &amp; Check-In
												<small></small></a>
											</li>
											
											
											
										
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/traveling-with-us/onboard-experience.html">Onboard Experience
												<small></small></a>
											</li>
											
											
											
										
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/traveling-with-us/onboard-services.html">Onboard Services
												<small></small></a>
											</li>
											
											
											
										
											
											
											<li role="menuitem" aria-controls="maincontent" class="travelLi">
												<a href="https://www.delta.com/content/www/en_US/traveling-with-us/my-trips.html">My Trips</a>
											</li>
											
										
											
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/traveling-with-us/mobile.html">Mobile</a>
											</li>
											
										
											
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/traveling-with-us/flight-schedules.html">Flight Schedules</a>
											</li>
											
										
											
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/traveling-with-us/travel-tips-and-tools.html">Travel Tips &amp; Tools</a>
											</li>
											
										
											
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/traveling-with-us/airports-and-aircraft.html">Airports &amp; Aircraft</a>
											</li>
											
										
											
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/traveling-with-us/special-travel-needs.html">Special Assistance</a>
											</li>
											
										
											
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/traveling-with-us/ticket-changes-refunds.html">Ticket Changes &amp; Refunds</a>
											</li>
											
										
											
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/traveling-with-us/advisories.html">Alerts &amp; Advisories</a>
											</li>
											
										
											
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/traveling-with-us/delta-sky-club.html">Delta Sky Club®</a>
											</li>
											
										</ul>
									   
									</div>
								</li>
								<li role="menuitem" class="menu-item has-dropdown skymiles" tabindex="0" aria-haspopup="true">
									<div class="menuLinkContainer">
										<a href="https://www.delta.com/content/www/en_US/skymiles.html" aria-expanded="false" tabindex="-1">Get to Know SkyMiles</a>
									</div>	
									 <div class="dropdown wide liCols" style="display: none;">
										<ul class="subLinks" aria-label="Submenu">
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/skymiles/how-to-earn-miles.html">How to Earn Miles
												<small></small></a>
											</li>
											
										
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/skymiles/how-to-use-miles.html">How to Use Miles
												<small></small></a>
											</li>
											
										
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/skymiles/medallion-program.html">Get to Know Medallion Status 
												<small></small></a>
											</li>
											
										
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/skymiles/airline-credit-cards.html">SkyMiles Credit Cards
												<small></small></a>
											</li>
											
										
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/skymiles/program-resources.html">Program Resources
												<small></small></a>
											</li>
											
										
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/skymiles/join-skymiles.html">Join SkyMiles
												<small></small></a>
											</li>
											
										
											
											<li role="menuitem" aria-controls="maincontent" class="skymileLi">
												<a href="https://www.delta.com/content/www/en_US/skymiles/manage-my-account.html">Manage My Account</a>
											</li>
										
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/skymiles/book-award-travel.html">Travel With Miles</a>
											</li>
										
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/skymiles/buy-or-transfer-miles.html">Buy, Gift, Transfer or Donate Miles</a>
											</li>
										
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/skymiles/request-mileage-credit.html">Request Mileage Credit</a>
											</li>
										
											
											<li role="menuitem" aria-controls="maincontent">
												<a href="https://www.delta.com/content/www/en_US/skymiles/skymiles-experiences.html">SkyMiles Experiences</a>
											</li>
										</ul>
										
									</div>
								</li>
								
							</ul>
						</div>
						<div class="searchContent">
							<ul>
								<li class="menu-item search">
									<form action="https://www.delta.com/dlsearch/index.jsp" class="input-group searchbox input-group-sm" name="searchFormHeader" id="searchFormHeader" novalidate="novalidate">
										<label for="searchTextHeader"><span class="aria-offscreen">Search</span></label>
										<input type="text" name="searchText" id="searchTextHeader" placeholder="Search" class="ui-autocomplete-input form-control" autocomplete="off">
										<input name="category" value="allresults" type="hidden">
										<button class="btn btn-secondary" type="submit"><span class="aria-offscreen">Submit Search</span></button>
									</form>
								</li>
								<li class="menu-item cart">
									<a id="header-cart-link" href="https://www.delta.com/cart/activity/reviewcart" style="display: none;">
										<span class="aria-offscreen">Items in cart</span>
										<span id="cartItemCount" class="items">(0)</span>
									</a>
								</li>
							</ul>
						</div>
                    </nav>
                </div>
            </div>

            <div id="main_nav" class="row hidden-xs">
                <div class="col-sm-8 primary-links">
                    <ul>
                        <li><a href="../../../mytrips/index.html">My Trips</a></li>
                    
                        <li><a href="https://www.delta.com/air-shopping/searchFlights.action">Book a Trip</a></li>
                    
                        <li><a href="https://www.delta.com/flightinfo/viewFlightStatusSetup">Flight Status</a></li>
                    
                        <li><a href="https://www.delta.com/PCCOciWeb/findBy.action">Check In</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 text-right quaternary-links">
                	<div id="myDeltaDropdown"></div>
                </div>
            </div>


        </div>
    </div>





<div id="readtext" aria-live="polite" class="sr-only"></div>
<dl-root><i class="loader"><img src="https://www.delta.com/etc/designs/delta-web/clientlibs-app/images/plane.gif"/></i></dl-root>












 <!-- /* 
  This file is to be overwritten by all extending components.
  The closing </div> for this opening <div> is found at the bottom of pages/page/body.html.
 */ -->
<div class="">

<!--main page container end-->


    




	<!-- BEGIN footer black bg color -->
	<div class="footer">
	
        <footer class="container_fluid">
            <div class="container" id="footer">
                
             
                <div class="footer_row1 row hidden-xs hidden-sm" role="navigation">
                    <div class="col-xs-12 col-sm-3 social clearfix">
                        <h2 class="h4">Connect With Us</h2>
                        <ul class="list-unstyled">
                            <li>
                                <a aria-haspopup="true" class="connect-mobile-app" href="https://www.delta.com/content/www/en_US/mobile.html">Mobile Apps</a>
                            </li>
                            <li id="cn_wechat" style="display:none">
                                <a class="connect-wechat" href="https://www.delta.com/content/www/en_US/social/wechat.html">WeChat</a>
                            </li>
                            <li>
                                <a class="connect-facebook OneLinkNoTx" data-extlink="ext12" href="https://www.facebook.com/delta" target="_blank">Facebook<span class="aria-offscreen">opens in a new window</span></a>
                            </li>
                            <li>
                                <a class="connect-twitter OneLinkNoTx" data-extlink="ext12" href="https://twitter.com/delta" target="_blank">Twitter<span class="aria-offscreen">opens in a new window</span>
                                </a>
                            </li>
                            <li>
                                <a aria-haspopup="true" class="connect-blog OneLinkNoTx" data-extlink="ext12" href="http://takingoff.delta.com" target="_blank">Blog</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-3 managed-col1 clearfix">
                        <h2 class="h4">Get To Know Us</h2>
                        <ul class="list-unstyled">
                          
                            <li>
                                <a href="https://www.delta.com/content/www/en_US/about-delta.html">About Delta</a>
                            </li>
                           
                            <li>
                                <a href="https://www.delta.com/content/www/en_US/careers.html">Careers</a>
                            </li>
                           
                            <li>
                                <a href="http://news.delta.com/">News Hub</a>
                            </li>
                           
                            <li>
                                <a href="https://www.delta.com/content/www/en_US/legal.html">Legal</a>
                            </li>
                           
                            <li>
                                <a href="https://www.delta.com/content/www/en_US/privacy-and-security.html">Cookies, Privacy &amp; Security</a>
                            </li>
                           
                            <li>
                                <a href="https://www.delta.com/content/www/en_US/corporate-travel.html">Corporate Travel </a>
                            </li>
                           
                            <li>
                                <a href="https://www.delta.com/content/www/en_US/travel-agents.html">Travel Agents</a>
                            </li>
                           
                            <li>
                                <a href="https://www.delta.com/content/www/en_US/support/accessibility.html">Accessibility</a>
                            </li>
                           
                            <li>
                                <a href="https://www.delta.com/content/dam/delta-www/pdfs/modern-slavery-act-compliance-statement-Sept-2017.pdf">Human Trafficking Statement </a>
                            </li>
                           
                            <li>
                                <a href="https://www.delta.com/content/www/en_US/site-map.html">Site Map</a>
                            </li>
                           
                            <li id="de_imprint" style="display:none"><a href="https://www.delta.com/content/www/en_US/legal/imprint.html">Imprint</a></li>
                        </ul>
                      
                    </div>
                    <div class="col-xs-12 col-sm-3 managed-col2 clearfix">
                        <h2 class="h4">Need Help?</h2>
                        
                        <ul class="list-unstyled">
                        
                            <li>
                                <a href="../../../contactus/commentComplaint.html">Email Us</a>
                            </li>
                  
                         
                            <li>
                                <a href="https://www.delta.com/content/www/en_US/support/talk-to-us.html">Talk To Us</a>
                            </li>
                  
                         
                            <li>
                                <a href="https://www.delta.com/content/www/en_US/tweet-us.html">Tweet Us</a>
                            </li>
                  
                         
                            <li>
                                <a href="https://www.delta.com/content/www/en_US/support/login-help.html">Login Help</a>
                            </li>
                  
                         
                            <li>
                                <a href="https://www.delta.com/content/www/en_US/support/browser-compatibility.html">Browser Compatibility</a>
                            </li>
                  
                         
                            <li>
                                <a href="https://www.delta.com/content/www/en_US/legal/contract-of-carriage-dgr.html">Contract of Carriage</a>
                            </li>
                  
                         
                            <li>
                                <a href="https://www.delta.com/content/www/en_US/legal/customer-commitment.html">Customer Commitment</a>
                            </li>
                  
                         
                            <li>
                                <a href="https://www.delta.com/content/www/en_US/legal/plan-for-tarmac-delays.html">Tarmac Delay Plan</a>
                            </li>
                  
                         
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-3 languages clearfix">
                        <div id="footer-languages">
                            <h2 class="h4">Languages</h2>
                            <ul class="list-unstyled">
                                <li class="us-lang-options" id="country_us">
                                    <span class="aria-offscreen">United States</span>
                                    <a aria-describedby="country_us" href="javascript:CountryLanguageController.doLanguageChoice('es','us');" id="es-us" lang="es">Español</a>
                                    <span class="ftLangSep">|</span>
                                    <a aria-describedby="country_us" href="javascript:CountryLanguageController.doLanguageChoice('en','us');" id="en-us" lang="en">English</a>
                                </li>
                                <li class="br-lang-options" id="country_br">
                                    <span class="aria-offscreen">Brasil (Brazil)</span>
                                    <a aria-describedby="country_br" href="javascript:CountryLanguageController.doLanguageChoice('pt','br');" id="pt-br" lang="pt">Português</a>
                                    <span class="ftLangSep">|</span>
                                    <a aria-describedby="country_br" href="javascript:CountryLanguageController.doLanguageChoice('en','br');" id="en-br" lang="en">English</a>
                                </li>
                                <li class="cn-lang-options" id="country_cn">
                                    <span class="aria-offscreen">中国</span>
                                    <a aria-describedby="country_cn" href="javascript:CountryLanguageController.doLanguageChoice('zh','cn');" id="zh-cn" lang="zh">简体中文</a>
                                    <span class="ftLangSep">|</span>
                                    <a aria-describedby="country_cn" href="javascript:CountryLanguageController.doLanguageChoice('en','cn');" id="en-cn" lang="en">English</a>
                                </li>
                                <li class="ja-lang-options" id="country_ja">
                                    <span class="aria-offscreen">日本 (Japan)</span>
                                    <a aria-describedby="country_ja" href="javascript:CountryLanguageController.doLanguageChoice('ja','jp');" id="ja-jp" lang="ja">日本語</a>
                                    <span class="ftLangSep">|</span>
                                    <a aria-describedby="country_ja" href="javascript:CountryLanguageController.doLanguageChoice('en','jp');" id="en-jp" lang="en">English</a>
                                </li>
                                <li class="de-lang-options" id="country_de">
                                    <span class="aria-offscreen">Deutschland (Germany)</span>
                                    <a aria-describedby="country_de" href="javascript:CountryLanguageController.doLanguageChoice('de','de');" id="de-de" lang="de">Deutsch</a>
                                    <span class="ftLangSep">|</span>
                                    <a aria-describedby="country_de" href="javascript:CountryLanguageController.doLanguageChoice('en','de');" id="en-de" lang="en">English</a>
                                </li>    
                            </ul>
                            <p class="other_country">
                                <a aria-haspopup="true" href="javascript:DeltaUtils.showDialogBox('/utils/shared/dialogs/CountryLanguage.jsp?selector=change-setting',700,930,'','','','fixed-dialog','ui-modal-dialog');">
                                    See Other Languages
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="footer_row2 row" id="NonSitePages" role="contentinfo">
                     
                    <span class="col-sm-5 col-md-6 text-center" id="Copyright">
                                ©2018 Delta Air Lines, Inc.
                            </span>
                    
                </div>
             
            </div>
        <!--[if lt IE 9]></div><![endif]-->    
        </footer>
   </div>


<script type="text/javascript">
	try {
		if(!DeltaUtils.isApplication()){
			MP.SrcUrl=unescape('mp_js_orgin_url');MP.UrlLang='mp_js_current_lang';MP.init();
		}
	} catch(e) { }
	try {
		var oo_tlsid = CookieUtils.get("TLTSID");
		var custom_var = oo_tlsid;
	} catch(error){}
</script>






</div>


  
        
		
<script type="text/javascript" src="https://content.delta.com/content/dam/delta-applications/js/sitewide/v5.3.0/swrcq.min.js" ></script>


      
	  
   
       <script type="text/javascript">
    if (!DeltaUtils.exists(CookieUtils.get('pref'))) {
        CustomerInfo.handleCountryLanguageSettings();
    }
    </script>

    
           
          
<script type="text/javascript" src="https://content.delta.com/content/dam/delta-applications/js/sitewide/v5.3.0/swrcqfooter.min.js" ></script>

	  
   

 
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;client=gme-deltaairlinesinc&amp;v=3.21"></script>




    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=Intl.~locale.en,classList&amp;flags=gated"></script> 
    
 <script type="text/javascript" src="https://www.delta.com/etc/designs/delta-web/clientlibs-vendor.20.js"></script>


 <script type="text/javascript" src="https://www.delta.com/etc/designs/delta-web/clientlibs-lib.31.js"></script>

 
 <script type="text/javascript" src="https://www.delta.com/etc/designs/delta-web/clientlibs-app.775.js"></script>
<script type="text/javascript" src="https://www.delta.com/etc/designs/delta-web/clientlibs-analytics.1.js"></script>
<script type="text/javascript">
if(document.getElementById("aemtitle"))
{
}
$( window ).on( "load", function() {
        
    s.pageName = document.getElementById("aemtitle").value;
    s.t();
    });
</script>

 

</div>
<script type="text/javascript">var _cf = _cf || [];  _cf.push(['_setBm', true]);</script><script type="text/javascript" src="https://www.delta.com/_bm/async.js"></script></body>
</html>