


<!DOCTYPE HTML>
<!--[if IE 8 ]><html lang="en" id="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" id="ie9"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"><!--<![endif]-->





<head>
    <title>Need Help? : Delta Air Lines</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <!-- begin /apps/delta/www/components/page/onecolumn/head.jsp -->
    <meta content="app-id=587667052" name="apple-itunes-app"/><!-- smart app banner -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    
        
            
            
                
     
    


    
        <link rel="canonical" href="support.html"/>
    

    


    
        
        
            <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.delta.com"/>
        
    

    <meta name="robots" content="noodp,noydir" />
    <script type="text/javascript" src="../../../etc/designs/delta/cq-delta.min.js"></script><script type="text/javascript" src="../../../ruxitagentjs_2fhjqr_10119170522100716.js" data-dtconfig="rid=RID_-913814625|rpid=1384404684|domain=delta.com|reportUrl=https://dlt-beacon.dynatrace-managed.com/bf/dbbe1fe6-c1b9-4ef5-9063-f51ccbac76c8|cors=1|featureHash=2fhjqr|md=1=a#custlogin-user-link|lastModification=1522911194004|dtVersion=10119170522100716|tp=500,50,0,1"></script><script type="text/javascript" src="../../../ruxitagentjs_2fhjqr_10119170522100716.js" data-dtconfig="rid=RID_-913814625|rpid=1014605345|cors=1|featureHash=2fhjqr|md=1=a#custlogin-user-link|lastModification=1522911194004|dtVersion=10119170522100716|tp=500,50,0,1|reportUrl=https://dlt-beacon.dynatrace-managed.com/bf/dbbe1fe6-c1b9-4ef5-9063-f51ccbac76c8|domain=delta.com"></script>

    
        <link rel="icon" type="image/vnd.microsoft.icon" href="../../../etc/designs/delta/favicon.ico"/>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../../../etc/designs/delta/favicon.ico"/>
    
    <!-- begin /apps/delta/www/components/page/onecolumn/libIncludes.jsp -->
   
                   



                                   
                                   
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css"/>
    
                    <script type="text/javascript" src="https://content.delta.com/content/dam/delta-applications/js/sitewide/v5.3.0/swrcq.min.js" ></script>

<link rel="stylesheet" type="text/css" href="https://content.delta.com/content/dam/delta-applications/css/sitewide/v5.3.0/swr.min.css"/>

<!--[if IE ]>
<link rel="stylesheet" type="text/css" media="all" href="//content.delta.com/content/dam/delta-applications/css/sitewide/v5.3.0/swr-ie.min.css" />
<![endif]-->

    
        <script type="text/javascript" src="https://content.delta.com/etc/designs/delta/lib.20171026.js"></script>
                                           <link rel="stylesheet" type="text/css" href="https://content.delta.com/etc/designs/delta/lib.20171130.css" media="all"/>

        
                                           <!--[if IE 9]>
                                           <link rel="stylesheet" type="text/css" href="//content.delta.com/etc/designs/delta/libIE9.0.css"/>
        <![endif]-->

        <!--[if lte IE 10]>
        <link rel="stylesheet" type="text/css" href="//content.delta.com/etc/designs/delta/libLtIE10.0.css"/>
        <![endif]-->

        <script type="text/javascript">
                     var isAuthor = false;
    if (imgPath == null) {
        var imgPath = "";
    }
    </script>

            <script type="text/javascript">
                         
    </script>


            <!-- userprofile start from header node -->
            
                    <script id='_myDeltaDropdownTemplate_tmpl' type='text/ractive'>
	{{#if isLoggedIn}}
	<div class="OneLinkNoTx">
	<a id="custlogin-user-link" class="custlogin-user" aria-haspopup="true" aria-expanded="false" aria-label="View My Delta Dashboard for {{firstName}} {{lastName}}" href="/mydelta/dashboard">{{firstName}} {{lastName}}</a>
	</div>
	<div id="customer_dropdown" aria-hidden="true" >
	<img alt="" class="customer_dropdown-supergraphic" src="//content.delta.com/content/dam/delta-applications/custlogin/super-graphic.png">
	<a class="custlogin-user" aria-haspopup="true" href="/acctactvty/myskymiles.action">
	<div class="customer_dropdown-status {{#if is360Tier}}threesixtymember-dashboard{{/if}} {{#if millionMiler}}millionmiler-dashboard{{/if}}">
	<div class="medallion-mem-info">{{{medallionInformation}}}</div>
	{{#if is360Tier}}
	<div class="three-sixty-tier">Delta 360<sup>&trade;</sup></div>
	{{/if}}
	{{#if millionMiler}}
	<div id="millionMilerImage" class="mm{{millionMilerTier}}"></div> 
	{{/if}}
	</div>
	{{#if isSkymilesMember}}
	<div class="customer_dropdown-skymilesnumber">
	<span class="label">SkyMiles #</span>
	<span class="value">{{skymilesNo}}</span>
	</div>
	{{/if}}
	</a>
	<a class="custlogin-user" aria-haspopup="true" href="/acctactvty/manageacctactvty.action">
	<div class="customer_dropdown-skymilestotal">
	<span class="label">
	Total Available Miles<br /><span class="availableMilesLegal">Miles never expire</span>
	</span>
	<span class="value">{{balanceMiles}}</span>
	</div>
	<div class="clear">&nbsp;</div>
	</a>
	<div class="customer_dropdown-mydelta">
	<h4>My Delta</h4>
	<ul>
	<li><a href="/acctactvty/myskymiles.action">SkyMiles</a></li>
	<li><a href="/mytrips/findPnrList.action">Trips</a></li>
	<li><a href="/mydelta/wallet">Wallet</a></li>
	<li><a href="/profile/index.action">Profile</a></li>
	{{#if loyaltyPromoInd}}
	<li><a class="user_pormolink" href="{{loyaltyPromoLink}}">Promotions</a></li>
	{{/if}}
	</ul>
	<a class="logout" href="/custlogin/logout.action">Log Out</a>
	</div>
	</div>
	{{else}}
	<a href="/profile/enrolllanding.action" class="custlogin-signup">Sign Up</a>
	<form name="loginForm" id="loginForm" method="post" autocomplete="off" action="/custlogin/loginPage.action">
	<input type="hidden" value="" name="refreshURL" id="refreshURL" />
	<button id="submitbutton" class="ui-button-primary ui-state-default ui-corner-all ui-button-text-only" value=">" type="submit" role="button">Log In</button>
	</form>
	{{/if}}
	</script>

                        
<!-- end /apps/delta/www/components/page/onecolumn/libIncludes.jsp -->
    
    <!-- 5.6.1 Upgrade change (clicksteamcloud to clientcontext) 03/18/14 , KM -->
    
    		<script type="text/javascript" src="../../../etc/clientlibs/foundation/shared.min.js"></script>

		    

    
    
        <script type="text/javascript" src="https://nexus.ensighten.com/delta/mtprod/Bootstrap.js"></script>
    
    <!-- end /apps/delta/www/components/page/onecolumn/head.jsp -->
</head>

<!-- begin /apps/delta/www/components/page/onecolumn/body.jsp -->





<body class="twocolumn page onecolumn ">

<div id="deltaClientHeaderCookieInfo"></div>
<div id="skip-content" class="aria-offscreen">
	<a class="wrapper" id="skip-main-content" href="#maincontent">Skip to main content</a>
</div>
<div id="bannerMessaging"></div>
    <div id="fb-root"></div>
    <!-- begin /apps/delta/www/components/page/onecolumn/personalization.jsp -->

<!-- 5.6.1 Upgrade change (clicksteamcloud to clientcontext) 03/18/14 , KM -->
<!-- cq:include path="clickstreamcloud" resourceType="cq/personalization/components/clickstreamcloud"/ -->
<div class="parbase clientcontext"><script type="text/javascript" src="../../../etc/clientlibs/granite/lodash/modern.min.js"></script>
<script type="text/javascript" src="../../../etc/clientlibs/foundation/personalization/kernel.min.js"></script>
<script type="text/javascript">
    $CQ(function() {
        CQ_Analytics.SegmentMgr.loadSegments("\/etc\/segmentation\/DeltaWWW\/Fare\u002DSpecials");
        CQ_Analytics.ClientContextUtils.init("\/etc\/clientcontext\/delta", "\/content\/www\/en_US\/support");

        
    });
</script>
</div>

<script type="text/javascript">
    var baseURL = "//www.delta.com";
    var servicesString = "";

    if (servicesString.indexOf(",") > 0) {
        // alert("IF");
        // we have multiple services, split them into an array and iterate through them.
        var servicesArray = servicesString.split(",");
        for (var i = 0; i < servicesArray.length; i ++) {
            callService(servicesArray[i]);
        }
    } else {
        // we only have one service defined, just request that one.
        // alert("ELSE");
        callService(servicesString);
    }
    function callService(path) {
        // if an error occurs, this will fail silently...you CAN take action on the error, but functionally this isn't really prudent.
        if (DeltaUtils.exists(path) && $.trim(path) !== "" && $.trim(path) !== "/") {
            $.getJSON(path,
             function(data) {
                 // alert("SUCCESS!!!");
                 $.each(data, function(key, val) {
                      // alert("adding value - key : " + key + " - value : " + val);
                      // TODO: Change to client context
                 	  CQ_Analytics.ProfileDataMgr.setProperty(key, val);
                  });
            });
        }
    }

    if (!DeltaUtils.exists(CookieUtils.get('pref'))) {
        CustomerInfo.handleCountryLanguageSettings();
    }


    // Read MP_COUNTRY and MP_LANG cookies from motion point and put the values in clickstream cloud
     var strCountry = CountryLanguageController.getCountryCode();//(CookieUtils.get('MP_COUNTRY')) ? CookieUtils.get('MP_COUNTRY') : 'us';
     var strLanguage =  CountryLanguageController.getLanguageCode ();//(CookieUtils.get('MP_LANG')) ? CookieUtils.get('MP_LANG') : 'en';
    // TODO: Change to client context
    CQ_Analytics.ProfileDataMgr.setProperty('mp_country', strCountry );
    CQ_Analytics.ProfileDataMgr.setProperty('mp_lang', strLanguage );

</script>
<!-- end /apps/delta/www/components/page/onecolumn/personalization.jsp -->
    <!-- begin /apps/delta/www/components/page/onecolumn/header.jsp -->




<div class="header">








<div class="masthead">

<script type="text/javascript">
    var delta = window.delta || {};


    delta.environment = '';
    

//Delta cookie policy configuration retrieval JSON format -- STARTS //
 
        var countryAlertJSON  = {"alertMessage":"By continuing to browse, you consent to our use of cookies. To know more, please refer to our<a  href='/content/www/en_US/privacy-and-security.html'> Cookie and Privacy Policies</a>.","countryList":"['us', 'de', 'fr', 'ao']"};
    	try
        {
    		var cookiePolicyJSONObject = eval(countryAlertJSON);
            
        }catch(error){}
    

//Delta cookie policy configuration retrieval JSON format -- ENDS //
</script>
<header class="clr printHeader" role="banner">
     <div class="inner">
            <div class="top_nav-divided"> 

                    <div id="brand">
                        <a href="../../../index.html" class="delta">
                            <img src="../../dam/delta-applications/header/clear.gif" alt="Delta Air Lines Logo"/>

                        </a>
                        <a href="http://www.skyteam.com" data-extlink="ext12" class="skyteam" target="_blank">
                            <img src="../../dam/delta-applications/header/clear.gif" alt="Skyteam Logo"/>
                            <span class="aria-offscreen"> opens in a new window</span>
                        </a>
                    </div>
             </div>

          

         <nav id="utility-nav" class="clr" aria-label="Header Menu Navigation">
        <ul class="primary clr" role="menu">
            <li class="menu-item language" role="menuitem">
                <a id="country-language-selection" href="javascript:DeltaUtils.showDialogBox('//www.delta.com/utils/shared/dialogs/CountryLanguage.jsp?selector=change-setting',700,930,'','','','fixed-dialog','ui-modal-dialog');">
                   <span class="aria-offscreen">Your current selection is: </span>
                   <span id="country-lang-selection" class="aria-offscreen">United States</span>
                   <span id="country-language-text">English</span>
                   <span class="aria-offscreen">Activate to change </span>
                </a>        
			</li>

            <li class="menu-item help" role="menuitem">

                
                
                    <a href="support.html">Need Help?</a>
                
            </li>
            <li class="menu-item comment" role="menuitem"><a href="../../../contactus/commentComplaint.html">Comment/Complaint?</a></li>
        </ul>
		<div id="dropDownMenubar" role="menubar">
             <span id="headerNavigationInstruction" class="aria-offscreen" >Activate form mode and then use up or down arrow keys to navigate through the submenus</span>
        <ul role="menu" aria-controls="maincontent" class="row secondary clr dropdownNav">
            <li role="menuitem" aria-haspopup="true" tabindex="0" class="menu-item has-dropdown shop">


                
                
					<div class="menuLinkContainer">
						<a href="../../../merch/shopMerchandisingAction.action.html" aria-expanded="false" class="menuLink" tabindex="-1">Shop</a>
					</div>
                    
                    <div class="dropdown wide liCols">
                        <ul class="subLinks" aria-label="Submenu">
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="../../../flight-search/book-a-flight.html">Flights
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="../../../merch/searchHotelAction.action.html">Hotels
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="../../../merch/searchCarAction.action.html">Cars
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="shop/deals-and-offers.html">Deals & Offers
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="../../../egift/eGiftPurchase.action-icid=PROD_eGift_Launch.html">Gift Cards
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="shop/delta-vacations.html">Delta Vacations
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
							
							
                            
                                
                                    <li role="menuitem" aria-controls="maincontent" class="shopLi"><a href="../../../merch/searchTravelExtraAction.action.html">Travel Extras</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="../../../flight-search/book-a-flight-AwardTravel=true.html">Book Award Travel</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="../../../edoc/redeemDocuments.action.html">Certificates & eCredits</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="https://www.delta.com/content/www/en_US/shop/skymiles-cruises.html">SkyMiles Cruises</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="../../../merch/searchTripInsuranceAction.action.html">Trip Protection</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="shop/news-special-offers.html">News & Special Offers</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="traveling-with-us/onboard-services/delta-studio/in-flight-wi-fi.html">In-Flight Wi-Fi</a></li>
                                
                            
                        
							
                        </ul>
                        
                    </div>
                
            </li>
            <li role="menuitem" tabindex="0" aria-haspopup="true" class="menu-item has-dropdown traveling">
                
                
				<div class="menuLinkContainer">
                    <a href="traveling-with-us.html" class="menuLink" tabindex="-1" aria-expanded="false">Traveling With Us</a>
				</div>	
                    
                    <div class="dropdown wide liCols">
                        <ul class="subLinks" aria-label="Submenu">
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="traveling-with-us/where-we-fly.html">Where We Fly
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="traveling-with-us/planning-a-trip.html">Planning a Trip
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="traveling-with-us/baggage.html">Baggage
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="traveling-with-us/check-in.html">My Trips & Check-In
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="https://www.delta.com/content/www/en_US/traveling-with-us/onboard-experience.html">Onboard Experience
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="https://www.delta.com/content/www/en_US/traveling-with-us/onboard-services.html">Onboard Services
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
							
                            
                                    <li role="menuitem" aria-controls="maincontent" class="travelLi"><a href="https://www.delta.com/content/www/en_US/traveling-with-us/my-trips.html">My Trips</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="https://www.delta.com/content/www/en_US/traveling-with-us/mobile.html">Mobile</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="https://www.delta.com/content/www/en_US/traveling-with-us/flight-schedules.html">Flight Schedules</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="https://www.delta.com/content/www/en_US/traveling-with-us/travel-tips-and-tools.html">Travel Tips & Tools</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="https://www.delta.com/content/www/en_US/traveling-with-us/airports-and-aircraft.html">Airports & Aircraft</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="https://www.delta.com/content/www/en_US/traveling-with-us/special-travel-needs.html">Special Assistance</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="https://www.delta.com/content/www/en_US/traveling-with-us/ticket-changes-refunds.html">Ticket Changes & Refunds</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="https://www.delta.com/content/www/en_US/traveling-with-us/advisories.html">Alerts & Advisories</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="https://www.delta.com/content/www/en_US/traveling-with-us/delta-sky-club.html">Delta Sky Club&reg;</a></li>
                                
                            
                        
                        </ul>
                        
                    </div>
                 
            </li>
            <li role="menuitem" tabindex="0" class="menu-item has-dropdown skymiles" aria-haspopup="true">
                
                
				<div class="menuLinkContainer">
                    <a href="https://www.delta.com/content/www/en_US/skymiles.html" class="menuLink" tabindex="-1" aria-expanded="false">Get to Know SkyMiles</a>
				</div>	
                    
                    <div class="dropdown wide liCols">
                        <ul class="subLinks" aria-label="Submenu">
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="https://www.delta.com/content/www/en_US/skymiles/how-to-earn-miles.html">How to Earn Miles
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="https://www.delta.com/content/www/en_US/skymiles/how-to-use-miles.html">How to Use Miles
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="https://www.delta.com/content/www/en_US/skymiles/medallion-program.html">Get to Know Medallion Status 
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="https://www.delta.com/content/www/en_US/skymiles/airline-credit-cards.html">SkyMiles Credit Cards
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="https://www.delta.com/content/www/en_US/skymiles/program-resources.html">Program Resources
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="https://www.delta.com/content/www/en_US/skymiles/join-skymiles.html">Join SkyMiles
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
							
                            
                                
                                    <li role="menuitem" aria-controls="maincontent" class="skymileLi"><a href="https://www.delta.com/content/www/en_US/skymiles/manage-my-account.html">Manage My Account</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="https://www.delta.com/content/www/en_US/skymiles/book-award-travel.html">Travel With Miles</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="https://www.delta.com/content/www/en_US/skymiles/buy-or-transfer-miles.html">Buy, Gift, Transfer or Donate Miles</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="https://www.delta.com/content/www/en_US/skymiles/request-mileage-credit.html">Request Mileage Credit</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="https://www.delta.com/content/www/en_US/skymiles/skymiles-experiences.html">SkyMiles Experiences</a></li>
                                
                            
                        
                        </ul>
                        
                    </div>
                
            </li>
            
        </ul><!-- .secondary -->
		</div>
		<div class="searchContent">
			<ul>         
				<li class="menu-item search">
                <form action="https://www.delta.com/dlsearch/index.jsp" name="searchFormHeader" id="searchFormHeader">

                    <div class="ui-widget">
                        <label for="searchTextHeader"><span class="aria-offscreen">Search</span></label>
                        <input type="text" name="searchText" id="searchTextHeader"  placeholder="Search" />
                        <input name="category" value="allresults" type="hidden"/>
                        <button type="submit"><span class="aria-offscreen">Submit Search</span></button>
                    </div>
                </form>
				</li>
			   <li class="menu-item cart">
					<a id="header-cart-link" href="https://www.delta.com/cart/activity/reviewcart">
						<span class="aria-offscreen">Items in cart</span>
						<span id="cartItemCount" class="items">(0)</span>
					</a>
				</li>
			</ul>
		</div>
    </nav><!-- .utilnav -->
           

            
			

             
                <nav id="main_nav" role="navigation" aria-label="Widget Menu">
                    <ul role="menu">
                        
                            

                             
                                 
                                     <li role="menuitem" class="first">
                                         <a href="../../../mytrips/index.html">My Trips</a>
                                     </li>
                                 
                                 
                                 
                            
                        
                            

                             
                                 
                                 
                                 
                                     <li role="menuitem">
                                         <a href="https://www.delta.com/air-shopping/searchFlights.action">Book a Trip</a>
                                     </li>
                                 
                            
                        
                            

                             
                                 
                                 
                                 
                                     <li role="menuitem">
                                         <a href="https://www.delta.com/flightinfo/viewFlightStatusSetup">Flight Status</a>
                                     </li>
                                 
                            
                        
                            

                             
                                 
                                 
                                     <li role="menuitem" class="main-last">
                                         <a href="https://www.delta.com/PCCOciWeb/findBy.action">Check In</a>
                                     </li>
                                 
                                 
                            
                        
                    </ul>
                    <div id="myDeltaDropdown"></div>
                </nav>
            
		  
<!-- End option to only display delta and skymiles logo -->
</div>
</header>
</div></div>

<!-- end /apps/delta/www/components/page/onecolumn/header.jsp -->

    <div id="LayoutContainer" class="container_12">
        <!-- begin /apps/delta/www/components/page/onecolumn/redirect.jsp -->

<!-- end /apps/delta/www/components/page/onecolumn/redirect.jsp -->

        <div id="ContentContainer" class="grid_12">
            <nav aria-label="Breadcrumb">
                <div class="breadcrumb interactivebreadcrumb">


<div id="InteractiveBreadcrumbNavigation">
	<span class="aria-offscreen">You are here:</span>
        <span id="use-down-arrow-for-sub-menu" class="aria-offscreen" >Activate form mode and then use up or down arrow keys to navigate through the submenus</span>
			<span aria-hidden="true" id="navigationLandmark" class="hidden">Breadcrumb Navigation Landmark Menu</span>
    <ul id="_deltaDropDownMenu_tmplHolder" role="menu" aria-controls="maincontent" class="deltaDropDownMenu">
        <li role="menuitem" class="alpha">
			<div class="breadcrumbLinkContainer">
				<a href="../../../index.html">Home</a>
			</div>	
        </li>
        
        <li role="menuitem"   tabindex="0">

                            <span class="arrow" aria-hidden="true">&gt;</span>
		<div class="breadcrumbLinkContainer">
          
            <a href="#" tabindex="-1">Need Help?</a>
                        
		</div>				
                        
                            <ul class="subLinks" aria-label="Submenu">
                                <li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="https://www.delta.com/content/www/en_US/support/talk-to-us.html">Talk to Us</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="https://www.delta.com/content/www/en_US/support/reservations-and-refunds.html">Reservations & Refunds</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="https://www.delta.com/content/www/en_US/support/faqs.html">FAQs</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="https://www.delta.com/content/www/en_US/support/business.html">Business</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="https://www.delta.com/content/www/en_US/support/corporate.html">Contact Corporate</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="https://www.delta.com/content/www/en_US/support/browser-compatibility.html">Browser Compatibility</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="https://www.delta.com/content/www/en_US/support/hints-and-tips.html">Delta.com Hints and Tips</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="https://www.delta.com/content/www/en_US/support/login-help.html">Login Help</a></li>
                            </ul>
                        

                    </li>
                
    </ul>
</div>

<div class="printButton" >
<!--
    <a href="javascript:void(0)" onclick="window.print();" >
    <img id="print" title="Print Button" src="/content/dam/delta-applications/dlhome/print.gif">
    Print
    </a>
-->
<input type="image" src="https://www.delta.com/content/dam/delta-applications/dlhome/print.gif" onClick="window.print()" alt="Print">
</div>


<div class="clear">&nbsp;</div></div>

            </nav>
            <main role="main" id="maincontent" tabindex="-1">
                    <div class="parbase title"><div class="pageTitle"><h1>NEED HELP?</h1></div>
</div>

                    <!-- begin /apps/delta/www/components/page/twocolumn/content.jsp -->

        <div id="ContentWell" class="grid_12 alpha">
            <div class="grid_9 alpha">
                <div class="mainPar parsys"><div class="parbase section pageteaserrow">

<div class="teaserRow">
    <div class="grid_3 alpha">
       <div class="pageteaser page_teaser_left">


 

           <div class="contentWrapper">
               <h2 class="contentWrapperHeader">Email Us</h2>
               <img alt="" title="" src="https://content.delta.com/content/www/en_US/support/email-us.scaled.218.75.20151029T1646571590400.png" />
               
                      <p>Share your thoughts - we're here to help in any way we can. Questions? Comments? Concerns? We'll quickly get back to you with the information you need. &nbsp;<a href="https://www.delta.com/content/www/en_US/support/email-us.html">Email Us</a></p>
              
          </div>
</div>

    </div>
    <div class="grid_3">
       <div class="page_teaser_middle pageteaser">


 

           <div class="contentWrapper">
               <h2 class="contentWrapperHeader">Talk to Us</h2>
               <img alt="" title="" src="https://content.delta.com/content/www/en_US/support/talk-to-us.scaled.218.75.20170828T1409440750400.png" />
               
                      <p>Find Delta contact information and the Delta phone numbers for each department. Reach Customer Service, SkyMiles®, Cargo or Corporate Information Depts. &nbsp;<a href="https://www.delta.com/content/www/en_US/support/talk-to-us.html">Call Us</a></p>
              
          </div>
</div>

    </div>
    <div class="grid_3 omega">
       <div class="pageteaser page_teaser_right">


 

           <div class="contentWrapper">
               <h2 class="contentWrapperHeader">Tweet Us @Delta</h2>
               <img alt="" title="" src="https://content.delta.com/content/www/en_US/support/delta-assist.scaled.218.75.20160412T1030399590400.png" />
               
                      <p>We're on Twitter to help you however we can. Tweet us for assistance, tips or updates. Tweet Us&nbsp;<a href="https://www.delta.com/content/www/en_US/support/delta-assist.html">@Delta</a></p>
              
          </div>
</div>

    </div>
</div>
<div class="clear">&nbsp;</div>


        <script>
        $(document).ready(function(){
            ViewportHandler.matchHeight(".teaserRow", ".contentWrapper");
        });
        </script>
   
</div>
<div class="contentarea section">





<div class="contentWrapper grid_3 alpha">
<h2 class="contentWrapperHeader">Most Popular</h2>

     <div class="par parsys"><div class="section text">

    <div class="contentWrapper rteDelta " >
        
        	<ul>
<li><a href="../../../flight-search/book-a-flight.html">Book a Trip</a></li>
<li><a href="https://www.delta.com/content/www/en_US/traveling-with-us/baggage/before-your-trip/checked-bakII.html">Baggage</a></li>
<li><a href="https://www.delta.com/content/www/en_US/support/talk-to-us/reservations-and-refunds.html">Reservations &amp; Refunds</a></li>
<li><a href="https://www.delta.com/tools/secure/mytrips/">My Trips</a></li>
<li><a href="https://www.delta.com/tools/secure/mydelta/dashboard">My Delta</a></li>
</ul>

         

    </div>

        


        <script>
$('img.cq-rte-anchor').each(function() {
	var anchorId = $(this).attr("_rte_a_id_repl");

	$(this).replaceWith('<a id="'+anchorId +'"></a>')
});

        </script>
    

<script>
$(document).ready(function(){
    if($(".contentWrapper.rteDelta ul li span").hasClass("list-align-horizontal")){
        $(".contentWrapper.rteDelta ul li span").parent().parent().addClass('list-align-horizontal');
        $(".contentWrapper.rteDelta ul li span").removeAttr('class'); 
    }
});
</script>

</div>

</div>

</div>
<div class="contentWrapper grid_3">
<h2 class="contentWrapperHeader">FAQs</h2>

     <div class="parsys middlePar"><div class="section text">

    <div class="contentWrapper rteDelta " >
        
        	<ul>
<li><a href="https://www.delta.com/content/www/en_US/support/faqs/booking-your-trip.html">Booking Your Trip</a></li>
<li><a href="https://www.delta.com/content/www/en_US/support/faqs/preparing-for-your-trip.html">Preparing for Your Trip</a></li>
<li><a href="https://www.delta.com/content/www/en_US/support/faqs/during-your-trip.html">During Your Trip</a></li>
<li><a href="https://www.delta.com/content/www/en_US/support/faqs/skymiles.html">SkyMiles FAQs<br>
</a></li>
<li><a href="https://www.delta.com/content/www/en_US/support/faqs/general.html">General FAQs</a></li>
</ul>

         

    </div>


        <script>
$('img.cq-rte-anchor').each(function() {
	var anchorId = $(this).attr("_rte_a_id_repl");

	$(this).replaceWith('<a id="'+anchorId +'"></a>')
});

        </script>
    

<script>
$(document).ready(function(){
    if($(".contentWrapper.rteDelta ul li span").hasClass("list-align-horizontal")){
        $(".contentWrapper.rteDelta ul li span").parent().parent().addClass('list-align-horizontal');
        $(".contentWrapper.rteDelta ul li span").removeAttr('class'); 
    }
});
</script>

</div>

</div>

</div>
<div class="contentWrapper grid_3 omega">
<h2 class="contentWrapperHeader">Website Support</h2>

     <div class="rightPar parsys"><div class="section text">

    <div class="contentWrapper rteDelta " >
        
        	<ul>
<li><a href="https://www.delta.com/content/www/en_US/support/login-help.html?cq_ck=1403114779579">Login Help</a></li>
<li><a href="https://www.delta.com/content/www/en_US/support/browser-compatibility.html">Browser Compatibility</a></li>
<li><a href="https://www.delta.com/content/www/en_US/traveling-with-us/advisories/phishing-email-alert.html">Security &amp; Data Protection</a></li>
</ul>

         

    </div>


        <script>
$('img.cq-rte-anchor').each(function() {
	var anchorId = $(this).attr("_rte_a_id_repl");

	$(this).replaceWith('<a id="'+anchorId +'"></a>')
});

        </script>
    

<script>
$(document).ready(function(){
    if($(".contentWrapper.rteDelta ul li span").hasClass("list-align-horizontal")){
        $(".contentWrapper.rteDelta ul li span").parent().parent().addClass('list-align-horizontal');
        $(".contentWrapper.rteDelta ul li span").removeAttr('class'); 
    }
});
</script>

</div>

</div>

</div>                
<div style="clear:both"></div>

</div>
<div class="contentarea section">






<div class="contentWrapper ">




    <h2 class="contentWrapperHeader">Corporate & Delta Business</h2>

    <div class="par parsys"><div class="section text">

    <div class="contentWrapper rteDelta " >
        
        	<ul>
<li><strong>Contact Corporate<br>
 </strong>Get to Delta's roots. Here, you'll find contact information for Delta headquarters, employment and Delta Investor Relations. <a href="https://www.delta.com/content/www/en_US/support/corporate.html">Contact Corporate</a></li>
</ul>
<ul>
<li><strong>Business</strong><br>
Contact Delta Business Solutions for helpful support on a number of diverse programs, from Delta advertising to training services. <a href="https://www.delta.com/content/www/en_US/support/business.html">Contact Business</a><br>
&nbsp;</li>
</ul>

         

    </div>


        <script>
$('img.cq-rte-anchor').each(function() {
	var anchorId = $(this).attr("_rte_a_id_repl");

	$(this).replaceWith('<a id="'+anchorId +'"></a>')
});

        </script>
    

<script>
$(document).ready(function(){
    if($(".contentWrapper.rteDelta ul li span").hasClass("list-align-horizontal")){
        $(".contentWrapper.rteDelta ul li span").parent().parent().addClass('list-align-horizontal');
        $(".contentWrapper.rteDelta ul li span").removeAttr('class'); 
    }
});
</script>

</div>

</div>

</div>     
<div style="clear:both"></div>

</div>

</div>

            </div>
            <div class="grid_3 omega" role="complementary">
                <div class="rightPar parsys">


<div class="OneLinkTxShow_zh">
<div class="contentarea section">






<div class="contentWrapper ">




    <h2 class="contentWrapperHeader">WECHAT</h2>

    <div class="par parsys"><div class="parbase section textimage">



   

    <div class="textimage">
        
             <div class="text rteDelta">
                 <p>Follow Delta on WeChat to stay up-to-date. &nbsp;<a href="https://www.delta.com/content/www/en_US/social/wechat.html">Go</a></p>

             </div>
             <div class="imageAlignCenter">
                
    		<a href="https://www.delta.com/content/www/en_US/social/wechat.html" target="_self">
		
        <img alt="" src="https://content.delta.com/content/www/en_US/support.damAsset.20160511T1049316280400.html/content/dam/delta-www/social/badges/WeChat/WeChat_NeedHelp.png"/>

    </a>

             </div>     
           
    </div>
    <div style="clear:both"></div>


   


        <script>
$('img.cq-rte-anchor').each(function() {
	var anchorId = $(this).attr("_rte_a_id_repl");

	$(this).replaceWith('<a id="'+anchorId +'"></a>')
});

        </script>
    
</div>
<div class="parbase motionpointendtag section"></div></div>

</div>

</div>     
<div style="clear:both"></div>

</div>
<div class="reference parbase section"><div class="cq-dd-paragraph"><div class="contentarea">






<div class="contentWrapper ">




    <h2 class="contentWrapperHeader">Need Help Now?</h2>

    <div class="par parsys">


<div class="OneLinkTxShow_ja">
<div class="section text">

    <div class="contentWrapper rteDelta " >
        
        	<p><strong>CALLING FROM JAPAN:<br>
 <br>
 Reservation Sales / delta.com &amp; Mobile Support / SkyMiles Representatives</strong><br>
0570-077733 / 050-3850-8388<strong> </strong><br>
<br>
Assistance available 9am - 8pm, 7 days a week / Assistance available in English 24 hours a day<br>
</p>

         

    </div>


        <script>
$('img.cq-rte-anchor').each(function() {
	var anchorId = $(this).attr("_rte_a_id_repl");

	$(this).replaceWith('<a id="'+anchorId +'"></a>')
});

        </script>
    

<script>
$(document).ready(function(){
    if($(".contentWrapper.rteDelta ul li span").hasClass("list-align-horizontal")){
        $(".contentWrapper.rteDelta ul li span").parent().parent().addClass('list-align-horizontal');
        $(".contentWrapper.rteDelta ul li span").removeAttr('class'); 
    }
});
</script>

</div>
<div class="parbase motionpointendtag section"></div></div>
<div class="section text">

    <div class="contentWrapper rteDelta " >
        
        	<p><strong>CALLING FROM THE UNITED STATES, PUERTO RICO, THE U.S. VIRGIN ISLANDS, GUAM OR CANADA:<br>
 <br>
 delta.com &amp; Mobile Support</strong><br>
1-888-750-3284<br>
<br>
<strong>Domestic Reservation Sales</strong><br>
1-800-221-1212<strong><br>
 <br>
 International Reservation Sales</strong><br>
1-800-241-4141 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Delta Vacations Packages</strong><br>
1-800-800-1504 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
<strong>SkyMiles Representatives&nbsp; &nbsp; </strong><br>
1-800-323-2323<br>
<br>
<strong>Disability Assistance</strong><br>
1-404-209-3434<br>
For customers with hearing or speech disabilities: Dial 711&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Customer Care</strong><br>
For comments or complaints regarding past travel experience: 1-800-455-2720<br>
<br>
<strong>Refund Status Check</strong><br>
1-800-847-0578<br>
</p>
<p><strong>WORLDWIDE PHONE NUMBERS<br>
 <br>
 Reservation Sales</strong><br>
Find the best phone number from your location <a href="https://www.delta.com/content/www/en_US/support/talk-to-us/reservations-and-refunds/reservations-offices.html">here</a><br>
<br>
<strong>Customer Care</strong><br>
Find the best phone number from your location <a href="https://www.delta.com/content/www/en_US/support/talk-to-us/customer-care-offices.html">here</a></p>

         

    </div>


        <script>
$('img.cq-rte-anchor').each(function() {
	var anchorId = $(this).attr("_rte_a_id_repl");

	$(this).replaceWith('<a id="'+anchorId +'"></a>')
});

        </script>
    

<script>
$(document).ready(function(){
    if($(".contentWrapper.rteDelta ul li span").hasClass("list-align-horizontal")){
        $(".contentWrapper.rteDelta ul li span").parent().parent().addClass('list-align-horizontal');
        $(".contentWrapper.rteDelta ul li span").removeAttr('class'); 
    }
});
</script>

</div>

</div>

</div>     
<div style="clear:both"></div>

</div>
</div>
</div>

</div>

            </div>
        </div>
<!-- end /apps/delta/www/components/page/twocolumn/content.jsp -->

                    <div class="clear">&nbsp;</div>
             </main>
        </div>
    </div>
    <div style="clear:both">&nbsp;</div>
    <!-- begin /apps/delta/www/components/page/onecolumn/footer.jsp -->




<div class="footer parbase">








<div class="clear">&nbsp;</div>
	<footer>
	<!--[if lt IE 9]><div class="footerContainer"><![endif]-->
		<div id="footer">
		
         <div class="footer_row1 container_12" role="navigation" aria-label="Footer">
			<div class="social grid_3 alpha">
				<h2>Connect With Us</h2>
				<ul>
					<li><a class="connect-mobile-app" href="https://www.delta.com/content/www/en_US/mobile.html">Mobile Apps</a></li>

                                            <li id="cn_wechat" style="display:none">
                                                <a class="connect-wechat" href='https://www.delta.com/content/www/en_US/social/wechat.html'>WeChat</a>
                                            </li>
					<li><!-- mp_trans_remove_start="PT" -->
					<a class="connect-facebook" data-extlink="ext12" href="https://www.facebook.com/delta" target="_blank" aria-haspopup="true">
					<!-- mp_trans_remove_end="PT" -->
					<!-- mp_trans_add="PT"
					    <a class="connect-facebook" data-extlink="ext12" href="https://www.facebook.com/DeltaAirLinesBrasil" target="_blank" aria-haspopup="true">
					-->
					Facebook</a></li>
					<!-- mp_trans_remove_start="PT, ES, JA" -->
					<li><a class="connect-twitter" data-extlink="ext12" href="https://twitter.com/delta" target="_blank" aria-haspopup="true">
					<!-- mp_trans_remove_end="PT, ES, JA" -->
					<!-- mp_trans_add="PT"
					    <a class="connect-twitter" data-extlink="ext12" href="https://twitter.com/DeltaAjuda" target="_blank" aria-haspopup="true">
					-->
					<!-- mp_trans_add="ES"
					    <a class="connect-twitter" data-extlink="ext12" href="https://twitter.com/DeltaAssist_ES" target="_blank" aria-haspopup="true">
					-->
					<!-- mp_trans_add="JA"
					    <a class="connect-twitter" data-extlink="ext12" href="https://twitter.com/DeltaAssist_JP" target="_blank" aria-haspopup="true">
					-->
					Twitter</a></li>
                    <li><a class="connect-blog" data-extlink="ext12" href="http://takingoff.delta.com" target="_blank" aria-haspopup="true">Blog</a></li>
				</ul>
			</div>
			<div class="grid_3 managed-col1">
				<h2>Get To Know Us</h2>
				<ul>
				
							<li><a href="https://www.delta.com/content/www/en_US/about-delta.html">About Delta</a></li>
						
							<li><a href="https://www.delta.com/content/www/en_US/careers.html" target="_blank">Careers<span class="aria-offscreen"> opens in a new window</span></a></li>
						
							<li><a href="http://news.delta.com/">News Hub</a></li>
						
							<li><a href="https://www.delta.com/content/www/en_US/legal.html">Legal</a></li>
						
							<li><a href="https://www.delta.com/content/www/en_US/privacy-and-security.html">Cookies, Privacy & Security</a></li>
						
							<li><a href="https://www.delta.com/content/www/en_US/corporate-travel.html">Corporate Travel </a></li>
						
							<li><a href="https://www.delta.com/content/www/en_US/travel-agents.html" target="_blank">Travel Agents<span class="aria-offscreen"> opens in a new window</span></a></li>
						
							<li><a href="https://www.delta.com/content/www/en_US/support/accessibility.html">Accessibility</a></li>
						
							<li><a href="https://www.delta.com/content/dam/delta-www/pdfs/modern-slavery-act-compliance-statement-Sept-2017.pdf">Human Trafficking Statement </a></li>
						
							<li><a href="https://www.delta.com/content/www/en_US/site-map.html">Site Map</a></li>
						
					 
                    <li id="de_imprint" style="display:none"><a href='https://www.delta.com/content/www/en_US/legal/imprint.html'>Imprint</a></li>
				</ul>
			</div>
			<div class="grid_3 managed-col2">
				<h2>Need Help?</h2>
				<ul>
				
							<li><a href="../../../contactus/commentComplaint.html">Email Us</a></li>
						
							<li><a href="https://www.delta.com/content/www/en_US/support/talk-to-us.html">Talk To Us</a></li>
						
							<li><a href="https://www.delta.com/content/www/en_US/tweet-us.html">Tweet Us</a></li>
						
							<li><a href="https://www.delta.com/content/www/en_US/support/login-help.html">Login Help</a></li>
						
							<li><a href="https://www.delta.com/content/www/en_US/support/browser-compatibility.html">Browser Compatibility</a></li>
						
							<li><a href="https://www.delta.com/content/www/en_US/legal/contract-of-carriage-dgr.html">Contract of Carriage</a></li>
						
							<li><a href="https://www.delta.com/content/www/en_US/legal/customer-commitment.html">Customer Commitment</a></li>
						
							<li><a href="https://www.delta.com/content/www/en_US/legal/plan-for-tarmac-delays.html">Tarmac Delay Plan</a></li>
						

				</ul>
			</div>
			<div class="languages grid_3 omega">
                <div id="footer-languages">
                    <h2>Languages</h2>
                    <ul>
                        <li id="country_us" class="us-lang-options"><span class="aria-offscreen">United States</span>
                            <a id="es-us" href="javascript:CountryLanguageController.doLanguageChoice('es','us');" lang="es" aria-describedby="country_us">Espa&#241;ol</a>
                            <a id="en-us" href="javascript:CountryLanguageController.doLanguageChoice('en','us');" lang="en" aria-describedby="country_us">English</a> | 
                        </li>

                        <li id="country_br" class="br-lang-options"><span class="aria-offscreen">Brasil (Brazil)</span>
                        	<a id="pt-br" href="javascript:CountryLanguageController.doLanguageChoice('pt','br');" lang="pt" aria-describedby="country_br">Portugu&#234;s</a> | 
                            <a id="en-br" href="javascript:CountryLanguageController.doLanguageChoice('en','br');" lang="en" aria-describedby="country_br">English</a>
                        </li>
                        <li id="country_cn" class="cn-lang-options"><span class="aria-offscreen">&#20013;&#22269;</span>
                        	<a id="zh-cn" href="javascript:CountryLanguageController.doLanguageChoice('zh','cn');" lang="zh" aria-describedby="country_cn">&#31616;&#20307;&#20013;&#25991;</a> | 
                            <a id="en-cn" href="javascript:CountryLanguageController.doLanguageChoice('en','cn');" lang="en" aria-describedby="country_cn">English</a>
                        </li>
                        <li id="country_ja" class="ja-lang-options"><span class="aria-offscreen">&#26085;&#26412; (Japan)</span>
                        	<a id="ja-jp" href="javascript:CountryLanguageController.doLanguageChoice('ja','jp');" lang="ja" aria-describedby="country_ja">&#26085;&#26412;&#35486;</a> | 
                            <a id="en-jp" href="javascript:CountryLanguageController.doLanguageChoice('en','jp');" lang="en" aria-describedby="country_ja">English</a></li>

                        <li id="country_de" class="de-lang-options"><span class="aria-offscreen">Deutschland (Germany)</span>
                        	<a id="de-de" href="javascript:CountryLanguageController.doLanguageChoice('de','de');" lang="de" aria-describedby="country_de">Deutsch</a> | 
                            <a id="en-de" href="javascript:CountryLanguageController.doLanguageChoice('en','de');" lang="en" aria-describedby="country_de">English</a>
                        </li>
                    </ul>
                    <p><a href="javascript:DeltaUtils.showDialogBox('/utils/shared/dialogs/CountryLanguage.jsp?selector=change-setting',700,930,'','','','fixed-dialog','ui-modal-dialog');" aria-haspopup="true">See Other Languages</a></p>
                </div>
			</div>
           </div>
		
		<div id="NonSitePages" class="footer_row2">
            

			<span id="Copyright">&copy;2018 Delta Air Lines, Inc.</span>



			<!-- mp_trans_remove_start -->
			<!-- mp_trans_remove_end -->
		</div>
	</div>
	<!--[if lt IE 9]></div><![endif]-->
</footer>



<script type="text/javascript">
	try {
		if(!DeltaUtils.isApplication()){
			MP.SrcUrl=unescape('mp_js_orgin_url');MP.UrlLang='mp_js_current_lang';MP.init();
		}
	} catch(e) { }
	try {
		var oo_tlsid = CookieUtils.get("TLTSID");
		var custom_var = oo_tlsid;
	} catch(error){}
</script>
</div>

<!-- end /apps/delta/www/components/page/onecolumn/footer.jsp -->

    <!-- begin /apps/delta/www/components/page/onecolumn/disclaimer.jsp -->








<!-- end /apps/delta/www/components/page/onecolumn/disclaimer.jsp -->
    <!-- begin /apps/delta/www/components/page/onecolumn/footerJS.jsp -->







<script type="text/javascript" src="https://content.delta.com/content/dam/delta-applications/js/sitewide/v5.3.0/swrcqfooter.min.js" ></script>
			
		
	
	<!-- mp_trans_remove_start -->
		<script type="text/javascript" src="https://content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote.js"></script>
	<!-- mp_trans_remove_end -->
	<!-- mp_trans_add="ES" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-es.js"></script>
	-->
	<!-- mp_trans_add="FR" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-fr.js"></script>
	-->
	<!-- mp_trans_add="DE" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-de.js"></script>
	-->
	<!-- mp_trans_add="IT" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-it.js"></script>
	-->
	<!-- mp_trans_add="JA" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-ja.js"></script>
	-->
	<!-- mp_trans_add="KO" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-ko.js"></script>
	-->
	<!-- mp_trans_add="PT" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-pt.js"></script>
	-->
	<!-- mp_trans_add="RU" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-ru.js"></script>
	-->
	<!-- mp_trans_add="ZH" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-zh.js"></script>
	-->
	<!-- mp_trans_add="ZT" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-zt.js"></script>
	-->

<!-- end /apps/delta/www/components/page/onecolumn/footerJS.jsp -->

    







<!--
More detailed timing info is available by uncommenting some code in the timing.jsp component
Timing chart URL:
http://chart.apis.google.com/chart?chtt=support.html+%2843ms%29&cht=bhs&chxt=x&chco=c6d9fd,4d89f9&chbh=a&chds=0,43,0,43&chxr=0,0,43&chd=t:5,5,5,7,10,10,11,11,19,19,21,22,22,22,23,23,24,25,25,26,26,26,28,29,29,30,30,30,31,31,32,32,33,33,33,34,35,35,36,36,36,37,37,38,38,39,40,40,43,43|0,1,4,2,1,1,8,8,0,2,0,3,10,18,0,1,1,5,5,2,2,2,1,0,1,0,2,2,1,1,1,8,2,2,2,0,0,4,0,3,3,0,2,0,0,0,2,3,0,0&chly=init.jsp|libIncludes.jsp|head.jsp|servicelibs.jsp|clientcontext.jsp|personalization.jsp|header.jsp|header.jsp|redirect.jsp|interactivebreadcrumb.jsp|title.jsp|pageteaserrow.jsp|parsys.jsp|content.jsp|pageteaser.jsp|pageteaser.jsp|pageteaser.jsp|grid-3-3-3.jsp|contentarea.jsp|textJavascript.jsp|text.jsp|parsys.jsp|parsys.jsp|text.jsp|parsys.jsp|text.jsp|grid-9.jsp|contentarea.jsp|text.jsp|parsys.jsp|motionpointstarttag.jsp|parsys.jsp|parsys.jsp|grid-9.jsp|contentarea.jsp|textimage.jsp|motionpointendtag.jsp|reference.jsp|contentarea%29|grid-9.jsp|contentarea.jsp|motionpointstarttag.jsp|parsys.jsp|text.jsp|motionpointendtag.jsp|text.jsp|footer.jsp|footer.jsp|disclaimer.jsp|footerJS.jsp&chs=600x500
-->


	<!-- 5.6.1 Upgrade change (clicksteamcloud to clientcontext) 03/18/14 , KM -->
	<div class="servicecomponents cloudservices"><div class="cloudservice sitecatalyst"><script type="text/javascript" src="https://www.delta.com/etc/clientlibs/foundation/sitecatalyst/appmeasurement.min.js"></script>
<script type="text/javascript" src="https://www.delta.com/etc/clientlibs/foundation/sitecatalyst/util.min.js"></script>
<script type="text/javascript" src="https://www.delta.com/content/www/_jcr_content/analytics.sitecatalyst.js"></script>
<script type="text/javascript" src="https://www.delta.com/etc/clientlibs/foundation/sitecatalyst/plugins.min.js"></script>
<script type="text/javascript" src="https://www.delta.com/content/www/_jcr_content/analytics.config.js"></script><span data-tracking="{event:'pageView', values:{}, componentPath:'foundation/components/page'}"></span><script type="text/javascript">
CQ_Analytics.Sitecatalyst.frameworkComponents = ['foundation/components/page'];
/**
 * Sets SiteCatalyst variables accordingly to mapped components. If <code>options</code>
 * object is provided only variables matching the options.componentPath are set.
 *
 * @param {Object} options Parameter object from CQ_Analytics.record() call. Optional.
 */
CQ_Analytics.Sitecatalyst.updateEvars = function(options) {
    this.frameworkMappings = [];
    this.frameworkMappings.push({scVar:"channel",cqVar:"pagedata.sitesection",resourceType:"foundation/components/page"});
    this.frameworkMappings.push({scVar:"pageName",cqVar:"pagedata.title",resourceType:"foundation/components/page"});
    for (var i=0; i<this.frameworkMappings.length; i++){
        var m = this.frameworkMappings[i];
        if (!options || options.compatibility || (options.componentPath == m.resourceType)) {
            CQ_Analytics.Sitecatalyst.setEvar(m);
        }
    }
}

CQ_Analytics.Sitecatalyst.doPageTrack = function() {
    var collect = true;
    var lte = s.linkTrackEvents;
    s.pageName="content:www:en_US:support";
    s.contextData['AEM.pagename'] = s.pageName;
    s.contextData['AEM.site'] = "content:www";
    CQ_Analytics.Sitecatalyst.collect(collect);
    if (collect) {
        CQ_Analytics.Sitecatalyst.updateEvars();
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code=s.t();if(s_code)document.write(s_code);
        s.linkTrackEvents = lte;
        if(s.linkTrackVars.indexOf('events')==-1){delete s.events};
        $CQ(document).trigger("sitecatalystAfterCollect");
    }
};

if (CQ_Analytics.CCM.areStoresInitialized) {
    CQ_Analytics.Sitecatalyst.doPageTrack();
} else {
    CQ_Analytics.CCM.addListener("storesinitialize", function(e) {
        CQ_Analytics.Sitecatalyst.doPageTrack();
    });
}

</script>
<noscript><img src="https://delta.or1.2o7.net/b/ss/deltadev2/1/H.26.2--NS/1522935326180?cdp=2&amp;gn=content%3Awww%3Aen_US%3Asupport" height="1" width="1" border="0" alt="" /></noscript>
</div>

</div>

    <!-- begin /apps/delta/www/components/page/onecolumn/mkcpgn.jsp -->




<!-- end /apps/delta/www/components/page/onecolumn/mkcpgn.jsp -->

    <!-- begin /apps/delta/www/components/page/onecolumn/cnad.jsp -->






<!-- end /apps/delta/www/components/page/onecolumn/cnad.jsp -->

    



        <!-- mp_trans_remove_start -->
<script type="text/javascript" src="https://kanachat.delta.com/tracker/vtc.php?orgid=1044339&amp;ichannelid=Y91zET1044345"></script>
<!-- mp_trans_remove_end -->

        

<script type="text/javascript">var _cf = _cf || [];  _cf.push(['_setBm', true]);</script><script type="text/javascript" src="https://www.delta.com/_bm/async.js"></script></body>
<!-- end /apps/delta/www/components/page/onecolumn/body.jsp -->
</html>
