


<!DOCTYPE HTML>
<!--[if IE 8 ]><html lang="en" id="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" id="ie9"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"><!--<![endif]-->





<head>
    <title>Where We Fly - Discover Travel Destinations : Delta Air Lines</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <!-- begin /apps/delta/www/components/page/onecolumn/head.jsp -->
    <meta content="app-id=587667052" name="apple-itunes-app"/><!-- smart app banner -->
    <meta name="keywords" content=""/>
    <meta name="description" content="Find out where we fly and discover new travel destinations on delta.com. Travel the world with a little help from our international flight partners. "/>
    
        
            
            
                
     
    


    
        <link rel="canonical" href="https://www.delta.com/content/www/en_US/traveling-with-us/where-we-fly.html"/>
    

    


    
        
        
            <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.delta.com"/>
        
    

    <meta name="robots" content="noodp,noydir" />
    <script type="text/javascript" src="/etc/designs/delta/cq-delta.min.js"></script><script type="text/javascript" src="/ruxitagentjs_2fhjqr_10119170522100716.js" data-dtconfig="rid=RID_-79215415|rpid=1460443937|domain=delta.com|reportUrl=https://dlt-beacon.dynatrace-managed.com/bf/dbbe1fe6-c1b9-4ef5-9063-f51ccbac76c8|cors=1|featureHash=2fhjqr|md=1=a#custlogin-user-link|lastModification=1522911194004|dtVersion=10119170522100716|tp=500,50,0,1"></script><script type="text/javascript" src="/ruxitagentjs_2fhjqr_10119170522100716.js" data-dtconfig="rid=RID_-79215415|rpid=-273064908|cors=1|featureHash=2fhjqr|md=1=a#custlogin-user-link|lastModification=1522911194004|dtVersion=10119170522100716|tp=500,50,0,1|reportUrl=https://dlt-beacon.dynatrace-managed.com/bf/dbbe1fe6-c1b9-4ef5-9063-f51ccbac76c8|domain=delta.com"></script>

    
        <link rel="icon" type="image/vnd.microsoft.icon" href="/etc/designs/delta/favicon.ico"/>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/etc/designs/delta/favicon.ico"/>
    
    <!-- begin /apps/delta/www/components/page/onecolumn/libIncludes.jsp -->
   
                   



                                   
                                   
   <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css"/>
    
                    <script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/sitewide/v5.3.0/swrcq.min.js" ></script>

<link rel="stylesheet" type="text/css" href="//content.delta.com/content/dam/delta-applications/css/sitewide/v5.3.0/swr.min.css"/>

<!--[if IE ]>
<link rel="stylesheet" type="text/css" media="all" href="//content.delta.com/content/dam/delta-applications/css/sitewide/v5.3.0/swr-ie.min.css" />
<![endif]-->

    
        <script type="text/javascript" src="//content.delta.com/etc/designs/delta/lib.20171026.js"></script>
                                           <link rel="stylesheet" type="text/css" href="//content.delta.com/etc/designs/delta/lib.20171130.css" media="all"/>

        
                                           <!--[if IE 9]>
                                           <link rel="stylesheet" type="text/css" href="//content.delta.com/etc/designs/delta/libIE9.0.css"/>
        <![endif]-->

        <!--[if lte IE 10]>
        <link rel="stylesheet" type="text/css" href="//content.delta.com/etc/designs/delta/libLtIE10.0.css"/>
        <![endif]-->

        <script type="text/javascript">
                     var isAuthor = false;
    if (imgPath == null) {
        var imgPath = "";
    }
    </script>

            <script type="text/javascript">
                         
    </script>


            <!-- userprofile start from header node -->
            
                    <script id='_myDeltaDropdownTemplate_tmpl' type='text/ractive'>
	{{#if isLoggedIn}}
	<div class="OneLinkNoTx">
	<a id="custlogin-user-link" class="custlogin-user" aria-haspopup="true" aria-expanded="false" aria-label="View My Delta Dashboard for {{firstName}} {{lastName}}" href="/mydelta/dashboard">{{firstName}} {{lastName}}</a>
	</div>
	<div id="customer_dropdown" aria-hidden="true" >
	<img alt="" class="customer_dropdown-supergraphic" src="//content.delta.com/content/dam/delta-applications/custlogin/super-graphic.png">
	<a class="custlogin-user" aria-haspopup="true" href="/acctactvty/myskymiles.action">
	<div class="customer_dropdown-status {{#if is360Tier}}threesixtymember-dashboard{{/if}} {{#if millionMiler}}millionmiler-dashboard{{/if}}">
	<div class="medallion-mem-info">{{{medallionInformation}}}</div>
	{{#if is360Tier}}
	<div class="three-sixty-tier">Delta 360<sup>&trade;</sup></div>
	{{/if}}
	{{#if millionMiler}}
	<div id="millionMilerImage" class="mm{{millionMilerTier}}"></div> 
	{{/if}}
	</div>
	{{#if isSkymilesMember}}
	<div class="customer_dropdown-skymilesnumber">
	<span class="label">SkyMiles #</span>
	<span class="value">{{skymilesNo}}</span>
	</div>
	{{/if}}
	</a>
	<a class="custlogin-user" aria-haspopup="true" href="/acctactvty/manageacctactvty.action">
	<div class="customer_dropdown-skymilestotal">
	<span class="label">
	Total Available Miles<br /><span class="availableMilesLegal">Miles never expire</span>
	</span>
	<span class="value">{{balanceMiles}}</span>
	</div>
	<div class="clear">&nbsp;</div>
	</a>
	<div class="customer_dropdown-mydelta">
	<h4>My Delta</h4>
	<ul>
	<li><a href="/acctactvty/myskymiles.action">SkyMiles</a></li>
	<li><a href="/mytrips/findPnrList.action">Trips</a></li>
	<li><a href="/mydelta/wallet">Wallet</a></li>
	<li><a href="/profile/index.action">Profile</a></li>
	{{#if loyaltyPromoInd}}
	<li><a class="user_pormolink" href="{{loyaltyPromoLink}}">Promotions</a></li>
	{{/if}}
	</ul>
	<a class="logout" href="/custlogin/logout.action">Log Out</a>
	</div>
	</div>
	{{else}}
	<a href="/profile/enrolllanding.action" class="custlogin-signup">Sign Up</a>
	<form name="loginForm" id="loginForm" method="post" autocomplete="off" action="/custlogin/loginPage.action">
	<input type="hidden" value="" name="refreshURL" id="refreshURL" />
	<button id="submitbutton" class="ui-button-primary ui-state-default ui-corner-all ui-button-text-only" value=">" type="submit" role="button">Log In</button>
	</form>
	{{/if}}
	</script>

                        
<!-- end /apps/delta/www/components/page/onecolumn/libIncludes.jsp -->
    
    <!-- 5.6.1 Upgrade change (clicksteamcloud to clientcontext) 03/18/14 , KM -->
    
    		<script type="text/javascript" src="/etc/clientlibs/foundation/shared.min.js"></script>

		    

    
    
        <script type="text/javascript" src="//nexus.ensighten.com/delta/mtprod/Bootstrap.js"></script>
    
    <!-- end /apps/delta/www/components/page/onecolumn/head.jsp -->
</head>

<!-- begin /apps/delta/www/components/page/onecolumn/body.jsp -->





<body class="twocolumn page onecolumn ">

<div id="deltaClientHeaderCookieInfo"></div>
<div id="skip-content" class="aria-offscreen">
	<a class="wrapper" id="skip-main-content" href="#maincontent">Skip to main content</a>
</div>
<div id="bannerMessaging"></div>
    <div id="fb-root"></div>
    <!-- begin /apps/delta/www/components/page/onecolumn/personalization.jsp -->

<!-- 5.6.1 Upgrade change (clicksteamcloud to clientcontext) 03/18/14 , KM -->
<!-- cq:include path="clickstreamcloud" resourceType="cq/personalization/components/clickstreamcloud"/ -->
<div class="parbase clientcontext"><script type="text/javascript" src="/etc/clientlibs/granite/lodash/modern.min.js"></script>
<script type="text/javascript" src="/etc/clientlibs/foundation/personalization/kernel.min.js"></script>
<script type="text/javascript">
    $CQ(function() {
        CQ_Analytics.SegmentMgr.loadSegments("\/etc\/segmentation\/DeltaWWW\/Fare\u002DSpecials");
        CQ_Analytics.ClientContextUtils.init("\/etc\/clientcontext\/delta", "\/content\/www\/en_US\/traveling\u002Dwith\u002Dus\/where\u002Dwe\u002Dfly");

        
    });
</script>
</div>

<script type="text/javascript">
    var baseURL = "//www.delta.com";
    var servicesString = "";

    if (servicesString.indexOf(",") > 0) {
        // alert("IF");
        // we have multiple services, split them into an array and iterate through them.
        var servicesArray = servicesString.split(",");
        for (var i = 0; i < servicesArray.length; i ++) {
            callService(servicesArray[i]);
        }
    } else {
        // we only have one service defined, just request that one.
        // alert("ELSE");
        callService(servicesString);
    }
    function callService(path) {
        // if an error occurs, this will fail silently...you CAN take action on the error, but functionally this isn't really prudent.
        if (DeltaUtils.exists(path) && $.trim(path) !== "" && $.trim(path) !== "/") {
            $.getJSON(path,
             function(data) {
                 // alert("SUCCESS!!!");
                 $.each(data, function(key, val) {
                      // alert("adding value - key : " + key + " - value : " + val);
                      // TODO: Change to client context
                 	  CQ_Analytics.ProfileDataMgr.setProperty(key, val);
                  });
            });
        }
    }

    if (!DeltaUtils.exists(CookieUtils.get('pref'))) {
        CustomerInfo.handleCountryLanguageSettings();
    }


    // Read MP_COUNTRY and MP_LANG cookies from motion point and put the values in clickstream cloud
     var strCountry = CountryLanguageController.getCountryCode();//(CookieUtils.get('MP_COUNTRY')) ? CookieUtils.get('MP_COUNTRY') : 'us';
     var strLanguage =  CountryLanguageController.getLanguageCode ();//(CookieUtils.get('MP_LANG')) ? CookieUtils.get('MP_LANG') : 'en';
    // TODO: Change to client context
    CQ_Analytics.ProfileDataMgr.setProperty('mp_country', strCountry );
    CQ_Analytics.ProfileDataMgr.setProperty('mp_lang', strLanguage );

</script>
<!-- end /apps/delta/www/components/page/onecolumn/personalization.jsp -->
    <!-- begin /apps/delta/www/components/page/onecolumn/header.jsp -->




<div class="header">








<div class="masthead">

<script type="text/javascript">
    var delta = window.delta || {};


    delta.environment = '';
    

//Delta cookie policy configuration retrieval JSON format -- STARTS //
 
        var countryAlertJSON  = {"alertMessage":"By continuing to browse, you consent to our use of cookies. To know more, please refer to our<a  href='/content/www/en_US/privacy-and-security.html'> Cookie and Privacy Policies</a>.","countryList":"['us', 'de', 'fr', 'ao']"};
    	try
        {
    		var cookiePolicyJSONObject = eval(countryAlertJSON);
            
        }catch(error){}
    

//Delta cookie policy configuration retrieval JSON format -- ENDS //
</script>
<header class="clr printHeader" role="banner">
     <div class="inner">
            <div class="top_nav-divided"> 

                    <div id="brand">
                        <a href="/" class="delta">
                            <img src="//www.delta.com/content/dam/delta-applications/header/clear.gif" alt="Delta Air Lines Logo"/>

                        </a>
                        <a href="http://www.skyteam.com" data-extlink="ext12" class="skyteam" target="_blank">
                            <img src="//www.delta.com/content/dam/delta-applications/header/clear.gif" alt="Skyteam Logo"/>
                            <span class="aria-offscreen"> opens in a new window</span>
                        </a>
                    </div>
             </div>

          

         <nav id="utility-nav" class="clr" aria-label="Header Menu Navigation">
        <ul class="primary clr" role="menu">
            <li class="menu-item language" role="menuitem">
                <a id="country-language-selection" href="javascript:DeltaUtils.showDialogBox('//www.delta.com/utils/shared/dialogs/CountryLanguage.jsp?selector=change-setting',700,930,'','','','fixed-dialog','ui-modal-dialog');">
                   <span class="aria-offscreen">Your current selection is: </span>
                   <span id="country-lang-selection" class="aria-offscreen">United States</span>
                   <span id="country-language-text">English</span>
                   <span class="aria-offscreen">Activate to change </span>
                </a>        
			</li>

            <li class="menu-item help" role="menuitem">

                
                
                    <a href="/content/www/en_US/support.html">Need Help?</a>
                
            </li>
            <li class="menu-item comment" role="menuitem"><a href="/contactus/pages/comment_complaint/index.jsp">Comment/Complaint?</a></li>
        </ul>
		<div id="dropDownMenubar" role="menubar">
             <span id="headerNavigationInstruction" class="aria-offscreen" >Activate form mode and then use up or down arrow keys to navigate through the submenus</span>
        <ul role="menu" aria-controls="maincontent" class="row secondary clr dropdownNav">
            <li role="menuitem" aria-haspopup="true" tabindex="0" class="menu-item has-dropdown shop">


                
                
					<div class="menuLinkContainer">
						<a href="/content/www/en_US/shop.html" aria-expanded="false" class="menuLink" tabindex="-1">Shop</a>
					</div>
                    
                    <div class="dropdown wide liCols">
                        <ul class="subLinks" aria-label="Submenu">
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/shop/flights.html">Flights
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/shop/hotels.html">Hotels
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/shop/cars.html">Cars
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/shop/deals-and-offers.html">Deals & Offers
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/shop/gift-card.html">Gift Cards
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/shop/delta-vacations.html">Delta Vacations
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
							
							
                            
                                
                                    <li role="menuitem" aria-controls="maincontent" class="shopLi"><a href="/content/www/en_US/shop/travel-extras.html">Travel Extras</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/shop/book-award-travel.html">Book Award Travel</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/shop/redeem-a-certificate-or-ecredit.html">Certificates & eCredits</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/shop/skymiles-cruises.html">SkyMiles Cruises</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/shop/trip-protection.html">Trip Protection</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/shop/news-special-offers.html">News & Special Offers</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/shop/in-flight-wi-fi.html">In-Flight Wi-Fi</a></li>
                                
                            
                        
							
                        </ul>
                        
                    </div>
                
            </li>
            <li role="menuitem" tabindex="0" aria-haspopup="true" class="menu-item has-dropdown traveling">
                
                
				<div class="menuLinkContainer">
                    <a href="/content/www/en_US/traveling-with-us.html" class="menuLink" tabindex="-1" aria-expanded="false">Traveling With Us</a>
				</div>	
                    
                    <div class="dropdown wide liCols">
                        <ul class="subLinks" aria-label="Submenu">
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/traveling-with-us/where-we-fly.html">Where We Fly
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/traveling-with-us/planning-a-trip.html">Planning a Trip
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/traveling-with-us/baggage.html">Baggage
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/traveling-with-us/check-in.html">My Trips & Check-In
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/traveling-with-us/onboard-experience.html">Onboard Experience
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/traveling-with-us/onboard-services.html">Onboard Services
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
							
                            
                                    <li role="menuitem" aria-controls="maincontent" class="travelLi"><a href="/content/www/en_US/traveling-with-us/my-trips.html">My Trips</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/traveling-with-us/mobile.html">Mobile</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/traveling-with-us/flight-schedules.html">Flight Schedules</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/traveling-with-us/travel-tips-and-tools.html">Travel Tips & Tools</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/traveling-with-us/airports-and-aircraft.html">Airports & Aircraft</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/traveling-with-us/special-travel-needs.html">Special Assistance</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/traveling-with-us/ticket-changes-refunds.html">Ticket Changes & Refunds</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/traveling-with-us/advisories.html">Alerts & Advisories</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/traveling-with-us/delta-sky-club.html">Delta Sky Club&reg;</a></li>
                                
                            
                        
                        </ul>
                        
                    </div>
                 
            </li>
            <li role="menuitem" tabindex="0" class="menu-item has-dropdown skymiles" aria-haspopup="true">
                
                
				<div class="menuLinkContainer">
                    <a href="/content/www/en_US/skymiles.html" class="menuLink" tabindex="-1" aria-expanded="false">Get to Know SkyMiles</a>
				</div>	
                    
                    <div class="dropdown wide liCols">
                        <ul class="subLinks" aria-label="Submenu">
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/skymiles/how-to-earn-miles.html">How to Earn Miles
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/skymiles/how-to-use-miles.html">How to Use Miles
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/skymiles/medallion-program.html">Get to Know Medallion Status 
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/skymiles/airline-credit-cards.html">SkyMiles Credit Cards
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/skymiles/program-resources.html">Program Resources
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
                                <li role="menuitem" aria-controls="maincontent">
                                    <a href="/content/www/en_US/skymiles/join-skymiles.html">Join SkyMiles
                                    
                                        <small></small>
                                    
                                    </a>
                                </li>
                            
							
                            
                                
                                    <li role="menuitem" aria-controls="maincontent" class="skymileLi"><a href="/content/www/en_US/skymiles/manage-my-account.html">Manage My Account</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/skymiles/book-award-travel.html">Travel With Miles</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/skymiles/buy-or-transfer-miles.html">Buy, Gift, Transfer or Donate Miles</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/skymiles/request-mileage-credit.html">Request Mileage Credit</a></li>
                                
                                    <li role="menuitem" aria-controls="maincontent" class=""><a href="/content/www/en_US/skymiles/skymiles-experiences.html">SkyMiles Experiences</a></li>
                                
                            
                        
                        </ul>
                        
                    </div>
                
            </li>
            
        </ul><!-- .secondary -->
		</div>
		<div class="searchContent">
			<ul>         
				<li class="menu-item search">
                <form action="/dlsearch/index.jsp" name="searchFormHeader" id="searchFormHeader">

                    <div class="ui-widget">
                        <label for="searchTextHeader"><span class="aria-offscreen">Search</span></label>
                        <input type="text" name="searchText" id="searchTextHeader"  placeholder="Search" />
                        <input name="category" value="allresults" type="hidden"/>
                        <button type="submit"><span class="aria-offscreen">Submit Search</span></button>
                    </div>
                </form>
				</li>
			   <li class="menu-item cart">
					<a id="header-cart-link" href="https://www.delta.com/cart/activity/reviewcart">
						<span class="aria-offscreen">Items in cart</span>
						<span id="cartItemCount" class="items">(0)</span>
					</a>
				</li>
			</ul>
		</div>
    </nav><!-- .utilnav -->
           

            
			

             
                <nav id="main_nav" role="navigation" aria-label="Widget Menu">
                    <ul role="menu">
                        
                            

                             
                                 
                                     <li role="menuitem" class="first">
                                         <a href="/mytrips/">My Trips</a>
                                     </li>
                                 
                                 
                                 
                            
                        
                            

                             
                                 
                                 
                                 
                                     <li role="menuitem">
                                         <a href="/air-shopping/searchFlights.action">Book a Trip</a>
                                     </li>
                                 
                            
                        
                            

                             
                                 
                                 
                                 
                                     <li role="menuitem">
                                         <a href="/flightinfo/viewFlightStatusSetup">Flight Status</a>
                                     </li>
                                 
                            
                        
                            

                             
                                 
                                 
                                     <li role="menuitem" class="main-last">
                                         <a href="/PCCOciWeb/findBy.action">Check In</a>
                                     </li>
                                 
                                 
                            
                        
                    </ul>
                    <div id="myDeltaDropdown"></div>
                </nav>
            
		  
<!-- End option to only display delta and skymiles logo -->
</div>
</header>
</div></div>

<!-- end /apps/delta/www/components/page/onecolumn/header.jsp -->

    <div id="LayoutContainer" class="container_12">
        <!-- begin /apps/delta/www/components/page/onecolumn/redirect.jsp -->

<!-- end /apps/delta/www/components/page/onecolumn/redirect.jsp -->

        <div id="ContentContainer" class="grid_12">
            <nav aria-label="Breadcrumb">
                <div class="breadcrumb interactivebreadcrumb">


<div id="InteractiveBreadcrumbNavigation">
	<span class="aria-offscreen">You are here:</span>
        <span id="use-down-arrow-for-sub-menu" class="aria-offscreen" >Activate form mode and then use up or down arrow keys to navigate through the submenus</span>
			<span aria-hidden="true" id="navigationLandmark" class="hidden">Breadcrumb Navigation Landmark Menu</span>
    <ul id="_deltaDropDownMenu_tmplHolder" role="menu" aria-controls="maincontent" class="deltaDropDownMenu">
        <li role="menuitem" class="alpha">
			<div class="breadcrumbLinkContainer">
				<a href="/">Home</a>
			</div>	
        </li>
        
        <li role="menuitem" aria-haspopup="true"  tabindex="0">

                            <span class="arrow" aria-hidden="true">&gt;</span>
		<div class="breadcrumbLinkContainer">
          

                            <a tabindex="-1" href="/content/www/en_US/traveling-with-us.html" aria-describedby="use-down-arrow-for-sub-menu" aria-expanded="false">
                                Traveling With Us
                            </a>
                        
		</div>				
                        
                            <ul class="subLinks" aria-label="Submenu">
                                <li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/where-we-fly.html">Where We Fly</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/planning-a-trip.html">Planning a Trip</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/baggage.html">Baggage</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/check-in.html">My Trips & Check-In</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/onboard-experience.html">Onboard Experience</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/onboard-services.html">Onboard Services</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/my-trips.html">My Trips</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/mobile.html">Mobile</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/flight-schedules.html">Flight Schedules</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/travel-tips-and-tools.html">Travel Tips & Tools</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/airports-and-aircraft.html">Airports & Aircraft</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/special-travel-needs.html">Special Assistance</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/ticket-changes-refunds.html">Ticket Changes & Refunds</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/advisories.html">Alerts & Advisories</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/delta-sky-club.html">Delta Sky Club&reg;</a></li>
                            </ul>
                        

                    </li>
                
        <li role="menuitem"   tabindex="0">

                            <span class="arrow" aria-hidden="true">&gt;</span>
		<div class="breadcrumbLinkContainer">
          
            <a href="#" tabindex="-1">Where We Fly</a>
                        
		</div>				
                        
                            <ul class="subLinks" aria-label="Submenu">
                                <li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/where-we-fly/destinations.html">Destinations</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/where-we-fly/routes.html">Routes</a></li><li role="menuitem" aria-controls="maincontent" tabindex="-1"><a href="/content/www/en_US/traveling-with-us/where-we-fly/flight-partners.html">Flight Partners</a></li>
                            </ul>
                        

                    </li>
                
    </ul>
</div>

<div class="printButton" >
<!--
    <a href="javascript:void(0)" onclick="window.print();" >
    <img id="print" title="Print Button" src="/content/dam/delta-applications/dlhome/print.gif">
    Print
    </a>
-->
<input type="image" src="/content/dam/delta-applications/dlhome/print.gif" onClick="window.print()" alt="Print">
</div>


<div class="clear">&nbsp;</div></div>

            </nav>
            <main role="main" id="maincontent" tabindex="-1">
                    <div class="parbase title"><div class="pageTitle"><h1>WHERE WE FLY</h1></div>
</div>

                    <!-- begin /apps/delta/www/components/page/twocolumn/content.jsp -->

        <div id="ContentWell" class="grid_12 alpha">
            <div class="grid_9 alpha">
                <div class="mainPar parsys"><div class="herob section">               










<div class="hero light"><img alt=""
    src="//content.delta.com/content/www/en_US/traveling-with-us/where-we-fly.damAsset.20180110T1125565720500.html/content/dam/delta-www/hero/Azores_pico-southern-coast_696x201.jpg" /></div>

<div class="marketingMessage"><h2><strong>Destinations:</strong></h2>
<p>With its unsurpassed global network, Delta and the Delta Connection® carriers offer service to more than 325 destinations in over 60 countries on six continents. <a href="/content/www/en_US/traveling-with-us/where-we-fly/destinations.html">Explore Where We Fly</a></p>
<p><em>Azores, Portugal. Delta service to the Azores begins May 24, 2018</em></p></div>


            
</div>
<div class="pageteasergroup parbase section">
                <div class="teaserRow">
                
                                   <div class="grid_3 alpha">
                                     


 

           <div class="contentWrapper">
               <h2 class="contentWrapperHeader">Destinations</h2>
               <img alt="" title="" src="//content.delta.com/content/www/en_US/traveling-with-us/where-we-fly/destinations.scaled.218.75.20170711T2206499660400.png" />
               
                      <p>Book Delta to more than 325 travel destinations and get vacation getaway ideas for your next trip. Discover vacation destinations and explore your world.&nbsp;<a href="/content/www/en_US/traveling-with-us/where-we-fly/destinations.html">Explore Destinations</a></p>
              
          </div>

                                   </div>
                                  
                                   <div class="grid_3">
                                     


 

           <div class="contentWrapper">
               <h2 class="contentWrapperHeader">Routes</h2>
               <img alt="" title="" src="//content.delta.com/content/www/en_US/traveling-with-us/where-we-fly/routes.scaled.218.75.20170405T1004352380400.png" />
               
                      <p>Discover airline route maps to get you from Point A to Point B. Find information on Delta connections for flights to over 900 destinations worldwide.
  
  &nbsp;<a href="/content/www/en_US/traveling-with-us/where-we-fly/routes.html">Explore Routes</a></p>
              
          </div>

                                   </div>
                                  
                                   <div class="grid_3 omega">
                                     


 

           <div class="contentWrapper">
               <h2 class="contentWrapperHeader">Flight Partners</h2>
               <img alt="" title="" src="//content.delta.com/content/www/en_US/traveling-with-us/where-we-fly/flight-partners.scaled.218.75.20170113T1005001700500.png" />
               
                      <p>Broaden your horizons. Plan for seamless travel with one of our flight partners. Book a trip on many of our partner airlines right here on delta.com. &nbsp;<a href="/content/www/en_US/traveling-with-us/where-we-fly/flight-partners.html">Meet Our Partners</a></p>
              
          </div>

                                   </div>
                                  
                </div>
                
    <div class="clear">&nbsp;</div>

   <script>
       /*try{
            $(window).load(function(){
            ViewportHandler.matchHeight(".teaserRow", ".grid_3 > .contentWrapper");
            ViewportHandler.matchHeight(".teaserRow", ".grid_3 > .content");
                //            ViewportHandler.matchHeight(".teaserRow", ".contentWrapper");
                //ViewportHandler.matchHeight(".teaserRow", ".content");
            ViewportHandler.matchHeight(".teaserRowAlt", ".grid_3 > .content");
                //ViewportHandler.matchHeight(".teaserRowAlt", ".content");
         });
         }catch(exp){}
         */
    </script>
	<script type="text/javascript">
       /* Adding code for making all contetwrapper divs loading similar(as per maximum content) */
        $(window).load(function(){
 
            var maxValues = new Array();
            $(".pageteasergroup .teaserRow").each(function(index,elem){
                maxValues[index] = 0;
                $(this).find(".grid_3").each(function(childIndex,elm){
                   var thisHeight = $(this).height();
                    maxValues[index] = (thisHeight > maxValues[index]) ? thisHeight : maxValues[index];
                });
 
            });

             $(".pageteasergroup .teaserRow").each(function(index,elem){
                 $(this).find(".contentWrapper").height(maxValues[index]+"px");
             });

        });
	</script>

</div>

</div>

            </div>
            <div class="grid_3 omega" role="complementary">
                <div class="rightPar parsys"><div class="form section">







<div>
    
      


<script type="text/javascript">
var isReqUpgradeEnabled = false;
var isIamTravellingEnabled = false;
var populateWidget = {
		tripType : '',
		originCity : '',
		destinationCity : '',
		departureDate : '',
		returnDate : '',
		paxCount : '',
		datesFlexible : '',
		awardTravel : '',
		upgradeRequest : '',
		smTravelling : '',
		outboundAPDays : '',
		inboundAPDays : ''
	};
</script><script type="text/javascript" src="/ruxitagentjs_2fhjqr_10119170522100716.js" data-dtconfig="rid=RID_538289605|rpid=-920915612|cors=1|featureHash=2fhjqr|md=1=a#custlogin-user-link|lastModification=1522911194004|dtVersion=10119170522100716|tp=500,50,0,1|reportUrl=https://dlt-beacon.dynatrace-managed.com/bf/dbbe1fe6-c1b9-4ef5-9063-f51ccbac76c8|domain=delta.com"></script>

	  



<link rel="stylesheet" type="text/css" media="screen" href="//content.delta.com/content/dam/delta-applications/css/widgetnav/v5.3.0/bookingwidget.min.css"/>




 <div id="bookingWidgetWrapper">
	<div id="bookingWidgetHeader">
		<h3>Book a Trip</h3>
	</div>
 	<div id="bookingWidgetContainer">
 		



<script type="text/javascript">
	var airShoppingDefaultHost = "";
</script>
<div id="air-shopping-widget-mainContent">
	<div id="air-shopping-widget">
		<div class="widget-body">
			<div class="hideDisplay" id="serverDate">2018-3-5</div>
			<div class="hideDisplay" id="recentSavedFlag">
				
			</div>
			
			<form id="flightSearchForm" class="customFormUI" name="flightSearchForm" action="/air-shopping/findFlights.action" method="POST">
			
				<input type="hidden" name="searchType" value="simple" id="searchType"/>
				<input type="hidden" name="bookingPostVerify" value="RTR_YES" id="bookingPostVerify"/>
				<input type="hidden" name="bundled" value="off" id="bundled"/>
				<input type="hidden" name="deltaOnly" value="off" id="deltaOnly"/>
				<input type="hidden" name="dl" value="y" id="dl"/>
				<input type="hidden" name="departureTime" value="AT" id="departureTime"/>
				<input type="hidden" name="returnTime" value="AT" id="returnTime"/>
				<input type="hidden" name="directServiceOnly" value="off" id="directServiceOnly"/>
				<input type="hidden" name="dispatchMethod" value="findFlights" id="dispatchMethod"/>
				<input type="hidden" name="fareBundle" value="B5-Coach" id="fareBundle"/>
				<input type="hidden" name="flexMainRTRTravelDate" value="off" id="flexMainRTRTravelDate"/>
				<input type="hidden" name="preferItinId" value="" id="preferItinId"/>
				<input type="hidden" name="medallionTraveler" value="0" id="awards_medallionTraveler"/>
				<input type="hidden" name="displayPreferredOnly" value="0" id="awards_displayPreferredOnly"/>
				<input type="hidden" name="calendarSearch" value="false" id="pol_widget_awards_calendarSearch"/>
				<input type="hidden" name="pricingSearch" value="true" id="pol_widget_awards_pricingSearch"/>
				<input type="hidden" name="directServiceOnly" value="off" id="awards_directServiceOnly"/>
				<input type="hidden" name="hiddenFieldsId" value="" id="hiddenFieldsId"/>
				<input type="hidden" name="awardTravel" value="false" id="awardTravel"/>
				
				
				<div class="clear"></div>
				<div>
					<div class="widget-body-content-top float-left">
					<div class="textRequiredFields">All fields are required</div>
                        <div class="toolTipErrorMessageContainer"></div>
						<div class="recentSearchWrapper">
							<select class="recent-search-container" id="recentSavedCont">
							</select>
						</div>
						<div class="trip-btn-container float-left">
							<div class="left-trip-btn-cont">
							<fieldset id="widgetTripContainer">
                               <legend class="requiredLegend aria-offscreen">Trip Type</legend>
							   <input type="radio" checked="checked"  name="tripTypeRadio"   id="roundTripRadioBtn" />
                               <label id="roundTripBtn"  for="roundTripRadioBtn" class="btn-round-trip trip-selected" >Round Trip</label>
                               <input type="radio"  name="tripTypeRadio"  id="oneWayRadioBtn" />
                               <label id="oneWayBtn"  for="oneWayRadioBtn" class="btn-one-way-trip" >One Way</label>
                               <input type="radio"  name="tripTypeRadio"  id="multiCityRadiobtn"/>
                               <label id="air-shopping-multicity-link"  for="multiCityRadiobtn" class="btn-multy-city" >Multi-City</label>
								<input type="hidden" name="tripType" value="ROUND_TRIP" id="pol_widget_tripType"/>
							</fieldset>
							</div>
						</div>
						<div class="clear"></div>
						<div class="search-cell-container float-left pad-bot5">
							<fieldset>
								<legend class="aria-offscreen">Trip Details</legend>
								<div class="float-left">
									<div class="search-left-cell">
									<div><label for="originCity" class="requiredLabel">FROM</label></div>
										<div class="inputWrap" id="inputwarp_source_city">
											<input type="text" Class="search-txt-field" placeholder="City or Airport" id="originCity" name="originCity" aria-describedby="fromcityAirport" aria-required="true" aria-invalid="false"/>
											<span id="fromcityAirport" class="aria-offscreen">Select origin city or airport</span>
											<span class="airportLookUpBalloon" id="srcCityLookup" role="link" tabindex="0" aria-haspopup="true">
												<img alt="Departure City Airport Lookup Icon" src="//content.delta.com/content/dam/delta-applications/header/clear.gif" >
											</span>
										 </div>
									</div>
									<div class="search-middle-cell marginTop15">
										<button class="swapAirports" type="button" tabindex="0" aria-label="Reverse origin and destination city or airport"></button>
									</div>
									<div class="search-right-cell">
									<div> <label for="destinationCity" class="requiredLabel">TO</label></div>
										<div class="inputWrap" id="inputwarp_destination_city">
											<input type="text" name="destinationCity" value="" id="destinationCity" class="search-txt-field" aria-describedby="tocityAirport" aria-required="true" aria-invalid="false" placeholder="City or Airport"/>
											<span id="tocityAirport" class="aria-offscreen">Select destination city or airport</span>
											<span class="airportLookUpBalloon" id="destCityLookup" role="link" tabindex="0" aria-haspopup="true">
												<img alt="Arrival City Airport Lookup Icon" src="//content.delta.com/content/dam/delta-applications/header/clear.gif">
											</span>
											</div>
									</div>
								</div>
								<div class="clear"></div>
								<div class="dateFieldWrap airShoppingDateFieldWrap">
									<div class="search-left-cell">
									<div> <label for="departureDate" >Depart Date</label></div>
										<div class="inputWrap">
											<input type="text" name="departureDate" maxlength="10" value="" id="departureDate" class="search-txt-field-Cal depart" autocomplete="off" aria-describedby="departDisc" aria-required="true" aria-haspopup="true" aria-invalid="false" placeholder="mm/dd/yyyy"/>
											<span id="departDisc" class="aria-offscreen">Select Depart Date must be in mm/dd/yyyy format</span>
											<span class="calendarClickIcon" id="depDateCalIcon"></span> </div>
									</div>
									<div class="search-middle-cell">&nbsp;</div>
									<div class="search-right-cell">
									<div> <label for="returnDate" id="lblRetDate" >Return Date</label></div>
										<div id="roundtripDateWrap">
											<input type="text" name="returnDate" maxlength="10" value="" id="returnDate" class="search-txt-field-Cal return" autocomplete="off" aria-describedby="returnDisc" aria-required="true" aria-haspopup="true" aria-invalid="false" placeholder="mm/dd/yyyy"/>
											<span id="returnDisc" class="aria-offscreen">Select Return Date must be in mm/dd/yyyy format</span>
											<span class="calendarClickIcon" id="retDateCalIcon"></span> </div>
									</div>
								</div>
								<div class="clear"></div>
								<div id="book-air-errorMsg" class="red_error_nomassage">
									<h2 class="aria-offscreen">Error</h2>
								</div>
								<div class="clear"></div>
							</fieldset>
							<fieldset>
								<div class="pad-top5" id="pol_widget_checkbox_div">
									<div class="float-left">								
										<div id="searchAir-searchOptions" class="search-left-cell searchAir-searchOptions">
											<div class="left-trip-btn-cont">
											<fieldset id="widgetTravelDateContainer">
                                               <legend class="requiredLegend">Travel Date</legend>
											   <input type="radio" checked="checked"  name="flexExactRadio"   id="exactDaysRadioBtn" />
                                                  <label id="exactDaysBtn"  for="exactDaysRadioBtn" class="btn-round-trip trip-selected" >Exact Dates</label>
												 <input type="radio" name="flexExactRadio"  id="flexDaysRadioBtn" />
                                                  <label id="flexDaysBtn"  for="flexDaysRadioBtn" class="btn-one-way-trip" >Flexible Days</label>
												<input type="hidden" id="is_Flex_Search" name="is_Flex_Search" value="false">
												<input type="hidden" name="action" value="findFlights" id="action"/>
												<input type="hidden" name="pageName" value="advanceSearchPage" id="pageName"/>
												<input type="hidden" name="datesFlexible" value="false" id="datesFlexible"/>
												<input type="hidden" name="flexDays" value="3" id="flexDays"/>
												<input type="hidden" name="cabinFareClass" value="BE" id="cabinFareClass"/>
												</fieldset>
											</div>
										</div>
										<div class="clear"></div>
									</div>
									<div class="float-left">
										<div class="search-left-cell">
										<fieldset id="widgetPriceContainer">
											<legend class="priceLegend" id="showPriceIn">SHOW PRICE IN</legend>
											<div class="left-trip-btn-cont cash_miles_btn">
											     <input type="radio" checked="checked"  name="cashMilesRadio"    id="cashRadioBtn" />
                                                  <label id="cashBtn"  for="cashRadioBtn" class="btn-round-trip trip-selected" >Money</label>
												 <input type="radio" name="cashMilesRadio"   id="milesRadinBtn" />
                                                  <label id="milesBtn"  for="milesRadinBtn" class="btn-one-way-trip" >Miles</label>
								</div>
								<input type="hidden" id="is_award_travel" name="is_award_travel" value="false">
								     </fieldset>
										</div>
										<div class="search-middle-cell">&nbsp;</div>
										<div class="search-right-cell pad-top5">
										<div class="pass_label search-right-cell">
											<label for="paxCount">PASSENGERS</label>
										</div>
										<div class="float-left ">
												<select class="advance_pass-count"  name="paxCount" id="paxCount">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
												</select>
										</div>
										</div>
										<div class="clear"></div>
									</div>
									<div class="clear"></div>
									
								</div>
								<div class="clear"></div>
							</fieldset>
						</div>
					</div>
					<div class="border-white-top"></div>
				</div>
				<div class="clear"></div>
				<div class="float-left">
					<div class="widget-body-content-bottom">
						<div class="search-cell-container findFlightsSubmit">
							<button type="button" id="findFlightsSubmit" name="findFlightsSubmit" value="Submit" class="secondaryLarge" >Find Flights</button>
							<div class="adv_search_link"> <a href="javascript:void(0);" title="More Search Options" id="air-shopping-moreOptions-link">Advanced Search</a></div>
							<div id="searchAir-certsCredits" class="search-right-cell"><a href="/tools/secure/edoc/redeemDocuments.action">Use Certificates or eCredits</a></div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
		
		
</div>
 	</div>
 </div>
 
 
	  



<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/widgetnav/v4.9.0/bookingwidget.min.js" ></script>




    
    <div class="clear">&nbsp;</div>
</div>
<script>
    var dateAvailableFromAEM = false;
    try{
        window.onload = function() {
//           $("#originCity").val('ATL');
           $("#destinationCity").val('MSP');
            $("#toAirport").val('MSP');
	    dateAvailableFromAEM=true;
          	$("#departureDate").val('04/10/2018');
                $("#returnDate").val('04/20/2018');
};

    } catch(error){}
</script>
</div>
<div class="parbase section baynoterecommendation"><div class="contentWrapper">

    <h2 class="contentWrapperHeader">Related Links</h2>

    
    <div class="contentWrapper rteDelta ">
        <p id="baynoteRecommendation">
    </div>
</div>

    <script type="text/javascript">
    BaynoteUtils.getRelatedLinks('Sample_Recs','5');
 
 
    </script>
    
</div>

</div>

            </div>
        </div>
<!-- end /apps/delta/www/components/page/twocolumn/content.jsp -->

                    <div class="clear">&nbsp;</div>
             </main>
        </div>
    </div>
    <div style="clear:both">&nbsp;</div>
    <!-- begin /apps/delta/www/components/page/onecolumn/footer.jsp -->




<div class="footer parbase">








<div class="clear">&nbsp;</div>
	<footer>
	<!--[if lt IE 9]><div class="footerContainer"><![endif]-->
		<div id="footer">
		
         <div class="footer_row1 container_12" role="navigation" aria-label="Footer">
			<div class="social grid_3 alpha">
				<h2>Connect With Us</h2>
				<ul>
					<li><a class="connect-mobile-app" href="/content/www/en_US/mobile.html">Mobile Apps</a></li>

                                            <li id="cn_wechat" style="display:none">
                                                <a class="connect-wechat" href='/content/www/en_US/social/wechat.html'>WeChat</a>
                                            </li>
					<li><!-- mp_trans_remove_start="PT" -->
					<a class="connect-facebook" data-extlink="ext12" href="//www.facebook.com/delta" target="_blank" aria-haspopup="true">
					<!-- mp_trans_remove_end="PT" -->
					<!-- mp_trans_add="PT"
					    <a class="connect-facebook" data-extlink="ext12" href="https://www.facebook.com/DeltaAirLinesBrasil" target="_blank" aria-haspopup="true">
					-->
					Facebook</a></li>
					<!-- mp_trans_remove_start="PT, ES, JA" -->
					<li><a class="connect-twitter" data-extlink="ext12" href="//twitter.com/delta" target="_blank" aria-haspopup="true">
					<!-- mp_trans_remove_end="PT, ES, JA" -->
					<!-- mp_trans_add="PT"
					    <a class="connect-twitter" data-extlink="ext12" href="https://twitter.com/DeltaAjuda" target="_blank" aria-haspopup="true">
					-->
					<!-- mp_trans_add="ES"
					    <a class="connect-twitter" data-extlink="ext12" href="https://twitter.com/DeltaAssist_ES" target="_blank" aria-haspopup="true">
					-->
					<!-- mp_trans_add="JA"
					    <a class="connect-twitter" data-extlink="ext12" href="https://twitter.com/DeltaAssist_JP" target="_blank" aria-haspopup="true">
					-->
					Twitter</a></li>
                    <li><a class="connect-blog" data-extlink="ext12" href="http://takingoff.delta.com" target="_blank" aria-haspopup="true">Blog</a></li>
				</ul>
			</div>
			<div class="grid_3 managed-col1">
				<h2>Get To Know Us</h2>
				<ul>
				
							<li><a href="/content/www/en_US/about-delta.html">About Delta</a></li>
						
							<li><a href="/content/www/en_US/careers.html" target="_blank">Careers<span class="aria-offscreen"> opens in a new window</span></a></li>
						
							<li><a href="http://news.delta.com/">News Hub</a></li>
						
							<li><a href="/content/www/en_US/legal.html">Legal</a></li>
						
							<li><a href="/content/www/en_US/privacy-and-security.html">Cookies, Privacy & Security</a></li>
						
							<li><a href="/content/www/en_US/corporate-travel.html">Corporate Travel </a></li>
						
							<li><a href="/content/www/en_US/travel-agents.html" target="_blank">Travel Agents<span class="aria-offscreen"> opens in a new window</span></a></li>
						
							<li><a href="/content/www/en_US/support/accessibility.html">Accessibility</a></li>
						
							<li><a href="/content/dam/delta-www/pdfs/modern-slavery-act-compliance-statement-Sept-2017.pdf">Human Trafficking Statement </a></li>
						
							<li><a href="/content/www/en_US/site-map.html">Site Map</a></li>
						
					 
                    <li id="de_imprint" style="display:none"><a href='/content/www/en_US/legal/imprint.html'>Imprint</a></li>
				</ul>
			</div>
			<div class="grid_3 managed-col2">
				<h2>Need Help?</h2>
				<ul>
				
							<li><a href="/contactus/pages/comment_complaint/index.jsp">Email Us</a></li>
						
							<li><a href="/content/www/en_US/support/talk-to-us.html">Talk To Us</a></li>
						
							<li><a href="/content/www/en_US/tweet-us.html">Tweet Us</a></li>
						
							<li><a href="/content/www/en_US/support/login-help.html">Login Help</a></li>
						
							<li><a href="/content/www/en_US/support/browser-compatibility.html">Browser Compatibility</a></li>
						
							<li><a href="/content/www/en_US/legal/contract-of-carriage-dgr.html">Contract of Carriage</a></li>
						
							<li><a href="/content/www/en_US/legal/customer-commitment.html">Customer Commitment</a></li>
						
							<li><a href="/content/www/en_US/legal/plan-for-tarmac-delays.html">Tarmac Delay Plan</a></li>
						

				</ul>
			</div>
			<div class="languages grid_3 omega">
                <div id="footer-languages">
                    <h2>Languages</h2>
                    <ul>
                        <li id="country_us" class="us-lang-options"><span class="aria-offscreen">United States</span>
                            <a id="es-us" href="javascript:CountryLanguageController.doLanguageChoice('es','us');" lang="es" aria-describedby="country_us">Espa&#241;ol</a>
                            <a id="en-us" href="javascript:CountryLanguageController.doLanguageChoice('en','us');" lang="en" aria-describedby="country_us">English</a> | 
                        </li>

                        <li id="country_br" class="br-lang-options"><span class="aria-offscreen">Brasil (Brazil)</span>
                        	<a id="pt-br" href="javascript:CountryLanguageController.doLanguageChoice('pt','br');" lang="pt" aria-describedby="country_br">Portugu&#234;s</a> | 
                            <a id="en-br" href="javascript:CountryLanguageController.doLanguageChoice('en','br');" lang="en" aria-describedby="country_br">English</a>
                        </li>
                        <li id="country_cn" class="cn-lang-options"><span class="aria-offscreen">&#20013;&#22269;</span>
                        	<a id="zh-cn" href="javascript:CountryLanguageController.doLanguageChoice('zh','cn');" lang="zh" aria-describedby="country_cn">&#31616;&#20307;&#20013;&#25991;</a> | 
                            <a id="en-cn" href="javascript:CountryLanguageController.doLanguageChoice('en','cn');" lang="en" aria-describedby="country_cn">English</a>
                        </li>
                        <li id="country_ja" class="ja-lang-options"><span class="aria-offscreen">&#26085;&#26412; (Japan)</span>
                        	<a id="ja-jp" href="javascript:CountryLanguageController.doLanguageChoice('ja','jp');" lang="ja" aria-describedby="country_ja">&#26085;&#26412;&#35486;</a> | 
                            <a id="en-jp" href="javascript:CountryLanguageController.doLanguageChoice('en','jp');" lang="en" aria-describedby="country_ja">English</a></li>

                        <li id="country_de" class="de-lang-options"><span class="aria-offscreen">Deutschland (Germany)</span>
                        	<a id="de-de" href="javascript:CountryLanguageController.doLanguageChoice('de','de');" lang="de" aria-describedby="country_de">Deutsch</a> | 
                            <a id="en-de" href="javascript:CountryLanguageController.doLanguageChoice('en','de');" lang="en" aria-describedby="country_de">English</a>
                        </li>
                    </ul>
                    <p><a href="javascript:DeltaUtils.showDialogBox('/utils/shared/dialogs/CountryLanguage.jsp?selector=change-setting',700,930,'','','','fixed-dialog','ui-modal-dialog');" aria-haspopup="true">See Other Languages</a></p>
                </div>
			</div>
           </div>
		
		<div id="NonSitePages" class="footer_row2">
            

			<span id="Copyright">&copy;2018 Delta Air Lines, Inc.</span>



			<!-- mp_trans_remove_start -->
			<!-- mp_trans_remove_end -->
		</div>
	</div>
	<!--[if lt IE 9]></div><![endif]-->
</footer>



<script type="text/javascript">
	try {
		if(!DeltaUtils.isApplication()){
			MP.SrcUrl=unescape('mp_js_orgin_url');MP.UrlLang='mp_js_current_lang';MP.init();
		}
	} catch(e) { }
	try {
		var oo_tlsid = CookieUtils.get("TLTSID");
		var custom_var = oo_tlsid;
	} catch(error){}
</script>
</div>

<!-- end /apps/delta/www/components/page/onecolumn/footer.jsp -->

    <!-- begin /apps/delta/www/components/page/onecolumn/disclaimer.jsp -->








<!-- end /apps/delta/www/components/page/onecolumn/disclaimer.jsp -->
    <!-- begin /apps/delta/www/components/page/onecolumn/footerJS.jsp -->







<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/sitewide/v5.3.0/swrcqfooter.min.js" ></script>
			
		
	
	<!-- mp_trans_remove_start -->
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote.js"></script>
	<!-- mp_trans_remove_end -->
	<!-- mp_trans_add="ES" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-es.js"></script>
	-->
	<!-- mp_trans_add="FR" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-fr.js"></script>
	-->
	<!-- mp_trans_add="DE" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-de.js"></script>
	-->
	<!-- mp_trans_add="IT" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-it.js"></script>
	-->
	<!-- mp_trans_add="JA" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-ja.js"></script>
	-->
	<!-- mp_trans_add="KO" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-ko.js"></script>
	-->
	<!-- mp_trans_add="PT" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-pt.js"></script>
	-->
	<!-- mp_trans_add="RU" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-ru.js"></script>
	-->
	<!-- mp_trans_add="ZH" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-zh.js"></script>
	-->
	<!-- mp_trans_add="ZT" 
		<script type="text/javascript" src="//content.delta.com/content/dam/delta-applications/js/baynote/v1.0.0/baynote-zt.js"></script>
	-->

<!-- end /apps/delta/www/components/page/onecolumn/footerJS.jsp -->

    







<!--
More detailed timing info is available by uncommenting some code in the timing.jsp component
Timing chart URL:
http://chart.apis.google.com/chart?chtt=where-we-fly.html+%28113ms%29&cht=bhs&chxt=x&chco=c6d9fd,4d89f9&chbh=a&chds=0,113,0,113&chxr=0,0,113&chd=t:5,6,6,7,10,10,11,11,19,19,23,23,24,24,25,26,27,28,29,30,30,109,109,109,112,112|4,0,1,2,1,1,8,8,0,4,0,86,2,5,1,3,1,0,0,78,79,0,3,3,0,1&chly=head.jsp|init.jsp|libIncludes.jsp|servicelibs.jsp|clientcontext.jsp|personalization.jsp|header.jsp|header.jsp|redirect.jsp|interactivebreadcrumb.jsp|title.jsp|content.jsp|herob.jsp|parsys.jsp|textJavascript.jsp|pageteasergroup.jsp|pageteaser.jsp|pageteaser.jsp|pageteaser.jsp|form.jsp|parsys.jsp|baynoterecommendation.jsp|footer.jsp|footer.jsp|disclaimer.jsp|footerJS.jsp&chs=600x500
-->


	<!-- 5.6.1 Upgrade change (clicksteamcloud to clientcontext) 03/18/14 , KM -->
	<div class="servicecomponents cloudservices"><div class="cloudservice sitecatalyst"><script type="text/javascript" src="/etc/clientlibs/foundation/sitecatalyst/appmeasurement.min.js"></script>
<script type="text/javascript" src="/etc/clientlibs/foundation/sitecatalyst/util.min.js"></script>
<script type="text/javascript" src="/content/www/_jcr_content/analytics.sitecatalyst.js"></script>
<script type="text/javascript" src="/etc/clientlibs/foundation/sitecatalyst/plugins.min.js"></script>
<script type="text/javascript" src="/content/www/_jcr_content/analytics.config.js"></script><span data-tracking="{event:'pageView', values:{}, componentPath:'foundation/components/page'}"></span><script type="text/javascript">
CQ_Analytics.Sitecatalyst.frameworkComponents = ['foundation/components/page'];
/**
 * Sets SiteCatalyst variables accordingly to mapped components. If <code>options</code>
 * object is provided only variables matching the options.componentPath are set.
 *
 * @param {Object} options Parameter object from CQ_Analytics.record() call. Optional.
 */
CQ_Analytics.Sitecatalyst.updateEvars = function(options) {
    this.frameworkMappings = [];
    this.frameworkMappings.push({scVar:"channel",cqVar:"pagedata.sitesection",resourceType:"foundation/components/page"});
    this.frameworkMappings.push({scVar:"pageName",cqVar:"pagedata.title",resourceType:"foundation/components/page"});
    for (var i=0; i<this.frameworkMappings.length; i++){
        var m = this.frameworkMappings[i];
        if (!options || options.compatibility || (options.componentPath == m.resourceType)) {
            CQ_Analytics.Sitecatalyst.setEvar(m);
        }
    }
}

CQ_Analytics.Sitecatalyst.doPageTrack = function() {
    var collect = true;
    var lte = s.linkTrackEvents;
    s.pageName="content:www:en_US:traveling-with-us:where-we-fly";
    s.contextData['AEM.pagename'] = s.pageName;
    s.contextData['AEM.site'] = "content:www";
    CQ_Analytics.Sitecatalyst.collect(collect);
    if (collect) {
        CQ_Analytics.Sitecatalyst.updateEvars();
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code=s.t();if(s_code)document.write(s_code);
        s.linkTrackEvents = lte;
        if(s.linkTrackVars.indexOf('events')==-1){delete s.events};
        $CQ(document).trigger("sitecatalystAfterCollect");
    }
};

if (CQ_Analytics.CCM.areStoresInitialized) {
    CQ_Analytics.Sitecatalyst.doPageTrack();
} else {
    CQ_Analytics.CCM.addListener("storesinitialize", function(e) {
        CQ_Analytics.Sitecatalyst.doPageTrack();
    });
}

</script>
<noscript><img src="https://delta.or1.2o7.net/b/ss/deltadev2/1/H.26.2--NS/1522935932027?cdp=2&amp;gn=content%3Awww%3Aen_US%3Atraveling-with-us%3Awhere-we-fly" height="1" width="1" border="0" alt="" /></noscript>
</div>

</div>

    <!-- begin /apps/delta/www/components/page/onecolumn/mkcpgn.jsp -->




<!-- end /apps/delta/www/components/page/onecolumn/mkcpgn.jsp -->

    <!-- begin /apps/delta/www/components/page/onecolumn/cnad.jsp -->






<script type="text/javascript">
$(document).ready(function(){
if(typeof(dartCall)!="undefined")
{
	CN.site.init({
	    title: 'Where We Fly - Discover Travel Destinations : Delta Air Lines',
	    name: 'Where We Fly - Discover Travel Destinations : Delta Air Lines',
	    env: 'PROD'
	});

	CN.dart.init({
		site:'delta.dart', 
		zone: 'planning_a_trip',
		kws:[DeltaUtils.getCNData().join(',')],
		frameurl: '/content/dam/condenast/ads/newad.html', 
		kill : false
	});
	for(i=0;i<dartCall.length;i++)
	{
		eval(dartCall[i]);	
	}
}	
});
</script>

<!-- end /apps/delta/www/components/page/onecolumn/cnad.jsp -->

    



</body>
<!-- end /apps/delta/www/components/page/onecolumn/body.jsp -->
</html>
